n8n-backup-20260321/__Google_Shopping_Scraper_-_Dealwise__W64O5rjQV2mrFoG7.json
{"updatedAt":"2026-03-04T03:04:45.363Z","createdAt":"2026-03-04T02:33:26.084Z","id":"W64O5rjQV2mrFoG7","name":"🛒 Google Shopping Scraper - Dealwise","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"dealwise-shopping-scraper","formTitle":"🔍 Google Shopping Scraper - Dealwise","formDescription":"Busque produtos e analise preços e concorrentes automaticamente","formFields":{"values":[{"fieldLabel":"Produto","placeholder":"Ex: iPhone 13 rosa 128GB","requiredField":true},{"fieldLabel":"Máximo de Resultados","fieldType":"number","placeholder":"20"},{"fieldLabel":"Preço Mínimo R$","fieldType":"number","placeholder":"0"},{"fieldLabel":"Preço Máximo R$","fieldType":"number","placeholder":"99999"}]},"options":{}},"id":"form-trigger-001","name":"Formulário de Busca","type":"n8n-nodes-base.formTrigger","typeVersion":2,"position":[0,304],"webhookId":"dealwise-shopping-scraper"},{"parameters":{"url":"https://api.scaleserp.com/search","sendQuery":true,"queryParameters":{"parameters":[{"name":"api_key","value":"2360173A108A4770B2D9DB2A5A34F38A"},{"name":"q","value":"={{ $json[\"Produto\"] }}"},{"name":"search_type","value":"shopping"},{"name":"gl","value":"br"},{"name":"hl","value":"pt-br"},{"name":"location","value":"Brazil"},{"name":"num","value":"={{ $json[\"Máximo de Resultados\"] || 20 }}"}]},"options":{"timeout":30000}},"id":"scaleserp-002","name":"ScaleSerp - Google Shopping","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[272,304]},{"parameters":{"jsCode":"\nconst data = $input.first().json;\nconst results = data.shopping_results || [];\nconst termoBuscado = data.search_parameters?.q || '';\n\nconst precoMin = parseFloat($('Formulário de Busca').first().json['Preço Mínimo R$'] || 0);\nconst precoMax = parseFloat($('Formulário de Busca').first().json['Preço Máximo R$'] || 999999);\n\nconst produtos = results.map((item, idx) => {\n  // ScaleSerp retorna price como NUMBER — tratar corretamente\n  let precoNumero = 0;\n  let precoFormatado = '';\n\n  if (item.price_parsed?.value) {\n    precoNumero = item.price_parsed.value;\n    precoFormatado = item.price_raw || ('R$ ' + precoNumero.toFixed(2));\n  } else if (typeof item.price === 'number') {\n    precoNumero = item.price;\n    precoFormatado = item.price_raw || ('R$ ' + item.price.toLocaleString('pt-BR', {minimumFractionDigits: 2}));\n  } else if (typeof item.price === 'string') {\n    precoFormatado = item.price;\n    precoNumero = parseFloat(\n      item.price.replace(/R$\\s*/g, '').replace(/\\./g, '').replace(',', '.')\n    ) || 0;\n  }\n\n  // Links — ScaleSerp pode retornar em campos diferentes\n  const link = item.link || item.product_link || item.shopping_link || '';\n\n  // Merchant ja vem direto do ScaleSerp — mais confiável que scraping\n  const loja = item.merchant || item.source || 'Desconhecido';\n\n  return {\n    nome: item.title || '',\n    preco_formatado: precoFormatado,\n    preco_numero: precoNumero,\n    link,\n    loja_google: loja,\n    imagem: (item.image || '').startsWith('data:') ? '' : (item.image || item.thumbnail || ''),\n    rating: item.rating || null,\n    reviews: item.reviews || null,\n    termo_buscado: termoBuscado,\n    posicao: idx + 1\n  };\n}).filter(p => {\n  if (!p.nome) return false;\n  if (precoMin > 0 && p.preco_numero < precoMin) return false;\n  if (precoMax < 999999 && p.preco_numero > precoMax) return false;\n  return true;\n});\n\nif (produtos.length === 0) {\n  throw new Error('Nenhum produto encontrado. Ajuste os filtros ou o termo de busca.');\n}\n\nreturn produtos.map(p => ({ json: p }));\n"},"id":"parse-products-003","name":"Parsear Produtos","type":"n8n-nodes-base.code","typeVersion":2,"position":[528,304]},{"parameters":{"options":{}},"id":"split-batches-004","name":"Loop - 1 por Vez","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[784,304]},{"parameters":{"method":"POST","url":"https://api.openai.com/v1/chat/completions","authentication":"predefinedCredentialType","nodeCredentialType":"openAiApi","sendBody":true,"contentType":"raw","rawContentType":"application/json","body":"={{ JSON.stringify({model: \"gpt-4o-mini\", temperature: 0, max_tokens: 300, messages: [{ role: \"system\", content: \"Você é especialista em análise de produtos e-commerce. Compare o termo buscado com o resultado do Google Shopping e determine a compatibilidade.\\n\\nRegras:\\n- Variações de cor, armazenamento e versão são aceitáveis (mesmo produto base)\\n- Acessórios, capinhas e peças NÃO são o produto em si\\n- Retorne SOMENTE JSON válido sem markdown:\\n{\\\"match_score\\\": 0-100, \\\"is_compatible\\\": true/false, \\\"categoria\\\": \\\"produto_exato\\\"|\\\"variacao_aceitavel\\\"|\\\"produto_similar\\\"|\\\"produto_diferente\\\", \\\"nome_normalizado\\\": \\\"string\\\", \\\"motivo\\\": \\\"string curta\\\"}\" },{ role: \"user\", content: \"Busca: \" + $json.termo_buscado + \"\\nProduto: \" + $json.nome + \"\\nPreço: \" + $json.preco_formatado + \"\\nLoja: \" + $json.loja_google }]}) }}","options":{"timeout":20000}},"id":"openai-005","name":"OpenAI - Análise de Match","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1040,224],"credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst resposta = $input.first().json;\nconst conteudo = resposta.choices?.[0]?.message?.content || \"{}\";\n\nlet analise = {};\ntry {\n  const limpo = conteudo.replace(/```json\\n?/g, '').replace(/```\\n?/g, '').trim();\n  analise = JSON.parse(limpo);\n} catch(e) {\n  analise = {\n    match_score: 0,\n    is_compatible: false,\n    categoria: \"erro_parse\",\n    nome_normalizado: \"\",\n    motivo: \"Erro ao processar IA: \" + e.message\n  };\n}\n\nconst produto = $('Loop - 1 por Vez').item.json;\n\nreturn [{\n  json: {\n    ...produto,\n    match_score: analise.match_score ?? 0,\n    is_compatible: analise.is_compatible ?? false,\n    categoria_match: analise.categoria || \"\",\n    nome_normalizado: analise.nome_normalizado || produto.nome,\n    motivo_match: analise.motivo || \"\"\n  }\n}];\n"},"id":"extract-analysis-006","name":"Extrair Análise IA","type":"n8n-nodes-base.code","typeVersion":2,"position":[1312,304]},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"conditions":[{"id":"cond-match-score","leftValue":"={{ $json.match_score }}","rightValue":60,"operator":{"type":"number","operation":"gte"}}],"combinator":"and"},"options":{}},"id":"filter-score-007","name":"Score >= 60?","type":"n8n-nodes-base.if","typeVersion":2,"position":[1568,304]},{"parameters":{"url":"={{ $json.link }}","sendHeaders":true,"headerParameters":{"parameters":[{"name":"User-Agent","value":"Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/120.0.0.0 Safari/537.36"},{"name":"Accept-Language","value":"pt-BR,pt;q=0.9,en;q=0.8"},{"name":"Accept","value":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8"}]},"options":{"allowUnauthorizedCerts":true,"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"responseFormat":"text"}},"timeout":15000}},"id":"fetch-page-008","name":"Buscar Página do Produto","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1824,192],"onError":"continueErrorOutput"},{"parameters":{"mode":"runOnceForEachItem","jsCode":"\nconst produto = $('Score >= 60?').item.json;\nconst link = produto.link || '';\n\n// Sem link: usa merchant do ScaleSerp direto\nif (!link) {\n  return [{\n    json: {\n      ...produto,\n      marketplace: produto.loja_google || 'Desconhecido',\n      vendedor: produto.loja_google || 'Não identificado',\n      data_captura: new Date().toISOString().slice(0, 19).replace('T', ' ')\n    }\n  }];\n}\n\nconst html = $input.first().json.data || $input.first().json.body || '';\n\n// Fallback sempre é o merchant do ScaleSerp\nlet vendedor = produto.loja_google || 'Não identificado';\nlet marketplace = 'Outros';\n\nfunction matchFirst(html, padroes) {\n  for (const p of padroes) {\n    const m = html.match(p);\n    if (m && m[1]) return m[1].trim();\n  }\n  return null;\n}\n\nif (link.includes('mercadolivre.com.br') || link.includes('mercadolibre.com')) {\n  marketplace = 'Mercado Livre';\n  const found = matchFirst(html, [\n    new RegExp('\"nickname\"\\\\s*:\\\\s*\"([^\"]+)\"'),\n    new RegExp('class=\"ui-pdp-seller__header__title\"[^>]*>\\\\s*([^<]+)'),\n    new RegExp('Vendido por\\\\s*<[^>]*>([^<]+)')\n  ]);\n  if (found) vendedor = found;\n\n} else if (link.includes('amazon.com.br')) {\n  marketplace = 'Amazon';\n  const found = matchFirst(html, [\n    new RegExp('id=\"sellerProfileTriggerId\"[^>]*>([^<]+)'),\n    new RegExp('\"merchant\"\\\\s*:\\\\s*\"([^\"]+)\"'),\n    new RegExp('Vendido por:\\\\s*<[^>]*>([^<]+)')\n  ]);\n  if (found) vendedor = found;\n  else if (html.includes('Amazon.com.br')) vendedor = 'Amazon.com.br';\n\n} else if (link.includes('magazineluiza.com.br') || link.includes('magalu.com')) {\n  marketplace = 'Magazine Luiza';\n  const found = matchFirst(html, [\n    new RegExp('\"sellerName\"\\\\s*:\\\\s*\"([^\"]+)\"'),\n    new RegExp('data-seller-name=\"([^\"]+)\"'),\n    new RegExp('class=\"[^\"]*seller-name[^\"]*\"[^>]*>([^<]+)')\n  ]);\n  if (found) vendedor = found;\n\n} else if (link.includes('casasbahia.com.br')) {\n  marketplace = 'Casas Bahia';\n  const found = matchFirst(html, [\n    new RegExp('\"sellerName\"\\\\s*:\\\\s*\"([^\"]+)\"'),\n    new RegExp('data-testid=\"seller-name\"[^>]*>([^<]+)')\n  ]);\n  if (found) vendedor = found;\n\n} else if (link.includes('shopee.com.br')) {\n  marketplace = 'Shopee';\n  const found = matchFirst(html, [\n    new RegExp('\"shopName\"\\\\s*:\\\\s*\"([^\"]+)\"'),\n    new RegExp('\"shop_name\"\\\\s*:\\\\s*\"([^\"]+)\"')\n  ]);\n  if (found) vendedor = found;\n\n} else if (link.includes('americanas.com.br')) {\n  marketplace = 'Americanas';\n  const found = matchFirst(html, [new RegExp('\"sellerName\"\\\\s*:\\\\s*\"([^\"]+)\"')]);\n  if (found) vendedor = found;\n\n} else {\n  marketplace = produto.loja_google || 'Outros';\n}\n\nreturn [{\n  json: {\n    ...produto,\n    marketplace,\n    vendedor,\n    data_captura: new Date().toISOString().slice(0, 19).replace('T', ' ')\n  }\n}];\n"},"id":"extract-seller-009","name":"Extrair Vendedor","type":"n8n-nodes-base.code","typeVersion":2,"position":[2080,192]},{"parameters":{"operation":"append","documentId":{"__rl":true,"value":"1zmAzNuV795BdxTYKy77y4paumCjpiRpUWCa49iI6rmg","mode":"id"},"sheetName":{"__rl":true,"value":"gid=0","mode":"list","cachedResultName":"Página1","cachedResultUrl":"https://docs.google.com/spreadsheets/d/1zmAzNuV795BdxTYKy77y4paumCjpiRpUWCa49iI6rmg/edit#gid=0"},"columns":{"mappingMode":"autoMapInputData","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"google-sheets-010","name":"Salvar no Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[2352,192],"credentials":{"googleSheetsOAuth2Api":{"id":"FoRiXDpwoQOzBTTx","name":"Google Sheets account"}}}],"connections":{"Formulário de Busca":{"main":[[{"node":"ScaleSerp - Google Shopping","type":"main","index":0}]]},"ScaleSerp - Google Shopping":{"main":[[{"node":"Parsear Produtos","type":"main","index":0}]]},"Parsear Produtos":{"main":[[{"node":"Loop - 1 por Vez","type":"main","index":0}]]},"Loop - 1 por Vez":{"main":[[{"node":"OpenAI - Análise de Match","type":"main","index":0}],[{"node":"OpenAI - Análise de Match","type":"main","index":0}]]},"OpenAI - Análise de Match":{"main":[[{"node":"Extrair Análise IA","type":"main","index":0}]]},"Extrair Análise IA":{"main":[[{"node":"Score >= 60?","type":"main","index":0}]]},"Score >= 60?":{"main":[[{"node":"Buscar Página do Produto","type":"main","index":0}],[]]},"Buscar Página do Produto":{"main":[[{"node":"Extrair Vendedor","type":"main","index":0}]]},"Extrair Vendedor":{"main":[[{"node":"Salvar no Google Sheets","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","saveManualExecutions":true,"saveExecutionProgress":true,"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{"Formulário de Busca":[{"json":{"Produto":"iphone 17","Máximo de Resultados":20,"Preço Mínimo R$":100,"Preço Máximo R$":999999,"submittedAt":"2026-03-04T02:52:12.663Z","formMode":"test"},"pairedItem":{"item":0}}]},"versionId":"2855342c-64ec-4d6c-959b-a99bdd0efe56","activeVersionId":null,"versionCounter":23,"triggerCount":1,"shared":[{"updatedAt":"2026-03-04T02:33:26.088Z","createdAt":"2026-03-04T02:33:26.088Z","role":"workflow:owner","workflowId":"W64O5rjQV2mrFoG7","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
