n8n-backup-20260321/B_1___Workflow__Confirmação_D-1__EfFe9jkBLkbspyQ1.json
{"updatedAt":"2026-03-08T00:29:26.504Z","createdAt":"2026-03-08T00:29:26.504Z","id":"EfFe9jkBLkbspyQ1","name":"B.1 — Workflow: Confirmação D-1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 18 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"trigger-d1","name":"Todo dia às 18h"},{"parameters":{"operation":"getAll","tableId":"appointments","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"scheduled"},{"keyName":"start_at","condition":"gte","keyValue":"={{ $now.plus({ hours: 20 }).toISO() }}"},{"keyName":"start_at","condition":"lte","keyValue":"={{ $now.plus({ hours: 28 }).toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"busca-appointments","name":"Busca Appointments","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c1","leftValue":"={{ $json.confirmation_sent_at }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[440,0],"id":"filtra-nao-confirmados","name":"Filtrar (Apenas Sem Confirmação)"},{"parameters":{"options":{}},"id":"loop-appointments","name":"Loop (Por Appointment)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,0]},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"busca-conversation","name":"Busca Conversation","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1100,0],"id":"busca-contact","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Oi {{ $json.name }}! 😊 Só confirmando sua avaliação amanhã, {{ DateTime.fromISO($('Loop (Por Appointment)').item.json.start_at).setZone('America/Sao_Paulo').toFormat('dd/MM') }} às {{ DateTime.fromISO($('Loop (Por Appointment)').item.json.start_at).setZone('America/Sao_Paulo').toFormat('HH') }}hrs. Tudo certo? Responde *sim* pra confirmarmos ✅","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,0],"id":"envia-confirmacao","name":"Envia Confirmação","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Appointment)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"em_confirmacao"},{"fieldId":"confirmation_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1540,-100],"id":"update-appointment","name":"Update Appointment","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Conversation').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"appointment_status","fieldValue":"em_confirmacao"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1540,140],"id":"update-conversation","name":"Update Conversation","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"mode":"runOnceForEachItem"},"id":"fechar-loop","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1780,0]}],"connections":{"Todo dia às 18h":{"main":[[{"node":"Busca Appointments","type":"main","index":0}]]},"Busca Appointments":{"main":[[{"node":"Filtrar (Apenas Sem Confirmação)","type":"main","index":0}]]},"Filtrar (Apenas Sem Confirmação)":{"main":[[{"node":"Loop (Por Appointment)","type":"main","index":0}]]},"Loop (Por Appointment)":{"main":[[{"node":"Busca Conversation","type":"main","index":0}]]},"Busca Conversation":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Envia Confirmação","type":"main","index":0}]]},"Envia Confirmação":{"main":[[{"node":"Update Appointment","type":"main","index":0},{"node":"Update Conversation","type":"main","index":0}]]},"Update Appointment":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Update Conversation":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por Appointment)","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"53c83d25-7d1b-4237-bdf4-e6a97bd202be","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T00:29:26.508Z","createdAt":"2026-03-08T00:29:26.508Z","role":"workflow:owner","workflowId":"EfFe9jkBLkbspyQ1","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
