n8n-backup-20260321/B_2___Workflow__Lembrete_H-2__kTcvosBcDe7ncs9p.json
{"updatedAt":"2026-03-07T23:36:12.607Z","createdAt":"2026-03-07T23:36:12.607Z","id":"kTcvosBcDe7ncs9p","name":"B.2 — Workflow: Lembrete H-2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"65a11f75-81ee-4e3a-bac7-1e86b54b050b","name":"A cada 30min"},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/appointments?status=eq.confirmed&start_at=gte.{{ $now.plus({ hours: 1, minutes: 30 }).toISO() }}&start_at=lte.{{ $now.plus({ hours: 2, minutes: 30 }).toISO() }}&reminder_sent_at=is.null","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $credentials.serviceRole }}"},{"name":"Authorization","value":"Bearer {{ $credentials.serviceRole }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,0],"id":"c0d1c116-e5ac-4f40-8f99-d5a41928fe27","name":"Busca Appointments","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"01713be9-1aff-429b-bd50-4a51ec88499c","name":"Loop (Por Appointment)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0]},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,0],"id":"1dde4d95-8af9-42fb-b52a-987e71e11995","name":"Busca Conversation","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[864,0],"id":"f2b0b76b-32b5-484a-abe7-6310eb83ae99","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Oi {{ $json.name }}! Sua avaliação é daqui a 2 horas, às {{ DateTime.fromISO($('Loop (Por Appointment)').item.json.start_at).setZone('America/Sao_Paulo').toFormat('HH') }}hrs 🙌\n\nLink do Meet: {{ $('Loop (Por Appointment)').item.json.meet_link }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1088,0],"id":"b55a0834-99e7-41f3-b156-f258ae2baad0","name":"Envia Lembrete","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Appointment)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"reminder_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1328,0],"id":"34151a33-3ff2-4605-8cb9-cd086f75a23c","name":"Update Appointment","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}}],"connections":{"A cada 30min":{"main":[[{"node":"Busca Appointments","type":"main","index":0}]]},"Busca Appointments":{"main":[[{"node":"Loop (Por Appointment)","type":"main","index":0}]]},"Loop (Por Appointment)":{"main":[[{"node":"Busca Conversation","type":"main","index":0}]]},"Busca Conversation":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Envia Lembrete","type":"main","index":0}]]},"Envia Lembrete":{"main":[[{"node":"Update Appointment","type":"main","index":0}]]},"Update Appointment":{"main":[[{"node":"Loop (Por Appointment)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"9e5a7093-7530-48c7-953b-3ca0d5cc758d","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T23:36:12.610Z","createdAt":"2026-03-07T23:36:12.610Z","role":"workflow:owner","workflowId":"kTcvosBcDe7ncs9p","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
