n8n-backup-20260321/B_2___Workflow__Lembrete_H-2__GUb1x9tyfkvJjrmm.json
{"updatedAt":"2026-03-08T00:29:26.559Z","createdAt":"2026-03-08T00:29:26.559Z","id":"GUb1x9tyfkvJjrmm","name":"B.2 — Workflow: Lembrete H-2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"minutes","minutesInterval":30}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"trigger-lembrete","name":"A cada 30min"},{"parameters":{"operation":"getAll","tableId":"appointments","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"confirmed"},{"keyName":"start_at","condition":"gte","keyValue":"={{ $now.plus({ hours: 1, minutes: 30 }).toISO() }}"},{"keyName":"start_at","condition":"lte","keyValue":"={{ $now.plus({ hours: 2, minutes: 30 }).toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"busca-appointments","name":"Busca Appointments","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c1","leftValue":"={{ $json.reminder_sent_at }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[440,0],"id":"filtra-sem-lembrete","name":"Filtrar (Apenas Sem Lembrete)"},{"parameters":{"options":{}},"id":"loop-lembrete","name":"Loop (Por Appointment)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,0]},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"busca-conversation-lembrete","name":"Busca Conversation","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1100,0],"id":"busca-contact-lembrete","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Oi {{ $json.name }}! Sua avaliação é daqui a 2 horas, às {{ DateTime.fromISO($('Loop (Por Appointment)').item.json.start_at).setZone('America/Sao_Paulo').toFormat('HH:mm') }}hrs 🙌\n\nLink do Meet: {{ $('Loop (Por Appointment)').item.json.meet_link }}","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,0],"id":"envia-lembrete","name":"Envia Lembrete","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Appointment)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"reminder_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1540,0],"id":"update-reminder","name":"Update Appointment","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}}],"connections":{"A cada 30min":{"main":[[{"node":"Busca Appointments","type":"main","index":0}]]},"Busca Appointments":{"main":[[{"node":"Filtrar (Apenas Sem Lembrete)","type":"main","index":0}]]},"Filtrar (Apenas Sem Lembrete)":{"main":[[{"node":"Loop (Por Appointment)","type":"main","index":0}]]},"Loop (Por Appointment)":{"main":[[{"node":"Busca Conversation","type":"main","index":0}]]},"Busca Conversation":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Envia Lembrete","type":"main","index":0}]]},"Envia Lembrete":{"main":[[{"node":"Update Appointment","type":"main","index":0}]]},"Update Appointment":{"main":[[{"node":"Loop (Por Appointment)","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"66400cc8-7627-465d-a4e0-45e0fc0cf516","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T00:29:26.560Z","createdAt":"2026-03-08T00:29:26.560Z","role":"workflow:owner","workflowId":"GUb1x9tyfkvJjrmm","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
