n8n-backup-20260321/B_3___Workflow__Follow-up_Nível_1__uT9mzDveHAzBf7p4.json
{"updatedAt":"2026-03-07T23:36:34.688Z","createdAt":"2026-03-07T23:36:34.688Z","id":"uT9mzDveHAzBf7p4","name":"B.3 — Workflow: Follow-up Nível 1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"c8d56d30-2dbf-415e-a970-64ef523e0763","name":"Todo dia às 10h"},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations?appointment_status=is.null&or=(followup_cadence.is.null,followup_cadence.eq.nivel_1)&not.labels=cs.%7Bflag_desistiu%7D&last_incoming_at=gte.{{ $now.minus({days: 7}).toISO() }}&last_incoming_at=lte.{{ $now.minus({days: 1}).startOf('day').toISO() }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $credentials.serviceRole }}"},{"name":"Authorization","value":"Bearer {{ $credentials.serviceRole }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,0],"id":"e50a1a45-9761-44d5-9cb9-13064c84d274","name":"Busca Conversas","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"dd972987-0b0d-4df2-8c70-6651cad843f4","name":"Loop (Por Conversa)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0]},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,0],"id":"052baa7d-a56d-4438-9672-755dc6dad0dc","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d1","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d3","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d5","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d7","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+7"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[864,224],"id":"6f78fa1a-8ac3-42bd-8dc3-8aec36f96083","name":"Dias (D+1, D+2, D+3, D+5, D+7)"},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, aqui é a Savarina! Conseguiu pensar sobre nossa conversa ontem pra agendarmos a avaliação do Dr?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,0],"id":"7ad31566-e8a2-4b6b-82f1-c69adea64e9d","name":"Envia D+1","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, ficou com alguma dúvida específica sobre o tratamento que te passamos?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,128],"id":"3c2a7fa4-2876-412f-afd0-cb68a1e12cef","name":"Envia D+2","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, o Dr Benito tem um horário que vagou na quinta às 15h. Gostaria de aproveitar essa brecha na agenda para sua avaliação?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,240],"id":"430e74d3-3726-43dc-9c7f-43e740e470cd","name":"Envia D+3","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}! Dê uma olhadinha no resultado desse paciente que fez exatamente o procedimento que recomendou pra você. Muito legal, né?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,368],"id":"897d252c-a5ca-4cce-b293-509afe98e196","name":"Envia D+5","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"mode":"runOnceForEachItem","options":{}},"id":"ec5574e9-f6a8-4124-bd87-9b04ff6a9eba","name":"Merge Mensagens","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1408,208]},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_cadence","fieldValue":"nivel_1"},{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,208],"id":"dfe87c9b-9e35-49e9-be21-1ef9fcba9f88","name":"Atualiza Cadência (Nível 1)","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_cadence","fieldValue":"perdido"},{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1408,480],"id":"25772bbb-188b-406a-bcbc-615dc0496b02","name":"Marca Perdido (D+7)","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"mode":"runOnceForEachItem","options":{}},"id":"36e0a6a9-98be-40ff-8eb3-ffd12e260304","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1824,352]}],"connections":{"Todo dia às 10h":{"main":[[{"node":"Busca Conversas","type":"main","index":0}]]},"Busca Conversas":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]},"Loop (Por Conversa)":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Dias (D+1, D+2, D+3, D+5, D+7)","type":"main","index":0}]]},"Dias (D+1, D+2, D+3, D+5, D+7)":{"main":[[{"node":"Envia D+1","type":"main","index":0}],[{"node":"Envia D+2","type":"main","index":0}],[{"node":"Envia D+3","type":"main","index":0}],[{"node":"Envia D+5","type":"main","index":0}],[{"node":"Marca Perdido (D+7)","type":"main","index":0}]]},"Envia D+1":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+2":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+3":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+5":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Merge Mensagens":{"main":[[{"node":"Atualiza Cadência (Nível 1)","type":"main","index":0}]]},"Atualiza Cadência (Nível 1)":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Marca Perdido (D+7)":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"cc818cfb-f330-4d4c-90b9-00e6bf524603","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T23:36:34.692Z","createdAt":"2026-03-07T23:36:34.692Z","role":"workflow:owner","workflowId":"uT9mzDveHAzBf7p4","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
