n8n-backup-20260321/B_3___Workflow__Follow-up_Nível_1__0Xz2szGXdNUiqhvI.json
{"updatedAt":"2026-03-08T00:29:26.633Z","createdAt":"2026-03-08T00:29:26.633Z","id":"0Xz2szGXdNUiqhvI","name":"B.3 — Workflow: Follow-up Nível 1","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"trigger-followup-n1","name":"Todo dia às 10h"},{"parameters":{"operation":"getAll","tableId":"conversations","returnAll":true,"filters":{"conditions":[{"keyName":"last_incoming_at","condition":"gte","keyValue":"={{ $now.minus({days: 7}).endOf('day').toISO() }}"},{"keyName":"last_incoming_at","condition":"lte","keyValue":"={{ $now.minus({days: 1}).endOf('day').toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"busca-conversas-n1","name":"Busca Conversas","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c1","leftValue":"={{ $json.appointment_status }}","rightValue":"","operator":{"type":"string","operation":"empty"}},{"id":"c2","leftValue":"={{ $json.labels && $json.labels.includes('flag_desistiu') }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}},{"id":"c3","leftValue":"={{ !$json.followup_cadence || $json.followup_cadence === 'nivel_1' }}","rightValue":true,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[440,0],"id":"filtra-condicoes-n1","name":"Condições Iniciais Nível 1"},{"parameters":{"options":{}},"id":"loop-followup1","name":"Loop (Por Conversa)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,0]},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,0],"id":"busca-contact-n1","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d1","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":2,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+2"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d3","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d5","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d7","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":7,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+7"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1060,220],"id":"switch-dias-n1","name":"Dias (D+1, D+2, D+3, D+5, D+7)"},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, aqui é a Savarina! Conseguiu pensar sobre nossa conversa ontem pra agendarmos a avaliação do Dr?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,0],"id":"msg-d1-n1","name":"Envia D+1","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, ficou com alguma dúvida específica sobre o tratamento que te passamos?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,120],"id":"msg-d2-n1","name":"Envia D+2","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, o Dr Benito tem um horário que vagou na quinta às 15h. Gostaria de aproveitar essa brecha na agenda para sua avaliação?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,240],"id":"msg-d3-n1","name":"Envia D+3","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}! Dê uma olhadinha no resultado desse paciente que fez exatamente o procedimento que recomendou pra você. Muito legal, né?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,360],"id":"msg-d5-n1","name":"Envia D+5","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"mode":"runOnceForEachItem"},"id":"merge-msgs-n1","name":"Merge Mensagens","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1600,200]},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_cadence","fieldValue":"nivel_1"},{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1820,200],"id":"update-conv-padrao-n1","name":"Atualiza Cadência","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_cadence","fieldValue":"perdido"},{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,480],"id":"update-conv-perdido-n1","name":"Marca Perdido","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"mode":"runOnceForEachItem"},"id":"fechar-loop-n1","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2020,340]}],"connections":{"Todo dia às 10h":{"main":[[{"node":"Busca Conversas","type":"main","index":0}]]},"Busca Conversas":{"main":[[{"node":"Condições Iniciais Nível 1","type":"main","index":0}]]},"Condições Iniciais Nível 1":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]},"Loop (Por Conversa)":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Dias (D+1, D+2, D+3, D+5, D+7)","type":"main","index":0}]]},"Dias (D+1, D+2, D+3, D+5, D+7)":{"main":[[{"node":"Envia D+1","type":"main","index":0}],[{"node":"Envia D+2","type":"main","index":0}],[{"node":"Envia D+3","type":"main","index":0}],[{"node":"Envia D+5","type":"main","index":0}],[{"node":"Marca Perdido","type":"main","index":0}],[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Envia D+1":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+2":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+3":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+5":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Merge Mensagens":{"main":[[{"node":"Atualiza Cadência","type":"main","index":0}]]},"Atualiza Cadência":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Marca Perdido":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"1bb3f3f2-5ec1-4162-8145-b28560dd8b79","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T00:29:26.635Z","createdAt":"2026-03-08T00:29:26.635Z","role":"workflow:owner","workflowId":"0Xz2szGXdNUiqhvI","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
