n8n-backup-20260321/B_4___Workflow__Follow-up_Nível_2__AJO4ddV2GGyJKLNv.json
{"updatedAt":"2026-03-08T00:29:26.688Z","createdAt":"2026-03-08T00:29:26.688Z","id":"AJO4ddV2GGyJKLNv","name":"B.4 — Workflow: Follow-up Nível 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"trigger-followup-n2","name":"Todo dia às 10h"},{"parameters":{"operation":"getAll","tableId":"conversations","returnAll":true,"filters":{"conditions":[{"keyName":"followup_cadence","condition":"eq","keyValue":"nivel_2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"busca-conversas-n2","name":"Busca Conversas","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c2","leftValue":"={{ $json.labels && $json.labels.includes('flag_desistiu') }}","rightValue":false,"operator":{"type":"boolean","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[440,0],"id":"filtra-condicoes-n2","name":"Condições Nível 2"},{"parameters":{"options":{}},"id":"loop-followup2","name":"Loop (Por Conversa)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[660,0]},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[860,0],"id":"busca-contact-n2","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d1-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d3-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d5-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d8-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+8"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[1060,150],"id":"switch-dias-n2","name":"Dias (D+1, D+3, D+5, D+8)"},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, estou revisando nossas conversas e vi que deixamos de agendar sua avaliação. Tem alguma dúvida que eu possa esclarecer?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,0],"id":"msg-d1-n2","name":"Envia D+1","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, lembrei de você! Fazer a avaliação presencial faz muita diferença para o seu diagnóstico com o Dr. Benito. Quer achar um horário?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,120],"id":"msg-d3-n2","name":"Envia D+3","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Olha como foi a avaliação de um paciente similar ao seu caso, {{ $('Busca Contato').item.json.name }}! Ficamos muito felizes pelo resultado.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,240],"id":"msg-d5-n2","name":"Envia D+5","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}. Não sei se no momento esse tratamento é sua prioridade, então não vou insistir, ok? Nossas portas estarão abertas quando você se sentir confortável. Abraços!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1320,360],"id":"msg-d8-n2","name":"Envia D+8 (Encerramento)","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"mode":"runOnceForEachItem"},"id":"merge-msgs-n2","name":"Merge Mensagens","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1600,140]},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1820,140],"id":"update-conv-padrao-n2","name":"Atualiza last_followup_at","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_cadence","fieldValue":"perdido"},{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,480],"id":"update-conv-perdido-n2","name":"Marca Perdido","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"mode":"runOnceForEachItem"},"id":"fechar-loop-n2","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[2020,280]}],"connections":{"Todo dia às 10h":{"main":[[{"node":"Busca Conversas","type":"main","index":0}]]},"Busca Conversas":{"main":[[{"node":"Condições Nível 2","type":"main","index":0}]]},"Condições Nível 2":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]},"Loop (Por Conversa)":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Dias (D+1, D+3, D+5, D+8)","type":"main","index":0}]]},"Dias (D+1, D+3, D+5, D+8)":{"main":[[{"node":"Envia D+1","type":"main","index":0}],[{"node":"Envia D+3","type":"main","index":0}],[{"node":"Envia D+5","type":"main","index":0}],[{"node":"Envia D+8 (Encerramento)","type":"main","index":0}],[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Envia D+1":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+3":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+5":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+8 (Encerramento)":{"main":[[{"node":"Marca Perdido","type":"main","index":0}]]},"Merge Mensagens":{"main":[[{"node":"Atualiza last_followup_at","type":"main","index":0}]]},"Atualiza last_followup_at":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Marca Perdido":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d7d5b307-8fc6-46ec-9c1c-b6ea4da4ac34","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T00:29:26.690Z","createdAt":"2026-03-08T00:29:26.690Z","role":"workflow:owner","workflowId":"AJO4ddV2GGyJKLNv","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
