n8n-backup-20260321/B_4___Workflow__Follow-up_Nível_2__AgoRDsX9dvt7C5Jh.json
{"updatedAt":"2026-03-07T23:36:49.083Z","createdAt":"2026-03-07T23:36:49.083Z","id":"AgoRDsX9dvt7C5Jh","name":"B.4 — Workflow: Follow-up Nível 2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 10 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"8ae55ed0-01cf-478d-acce-041eb4790a7b","name":"Todo dia às 10h"},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/conversations?followup_cadence=eq.nivel_2&not.labels=cs.%7Bflag_desistiu%7D","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $credentials.serviceRole }}"},{"name":"Authorization","value":"Bearer {{ $credentials.serviceRole }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,0],"id":"7574b12b-a863-4a44-8e00-9872b4caaf84","name":"Busca Conversas (Nível 2)","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"9e1e166d-9ea0-4625-846b-03472d76c6ed","name":"Loop (Por Conversa)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[448,0]},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[672,0],"id":"5786f48f-c4b7-4602-9bf3-15f1c76e696d","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d1-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":1,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d3-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":3,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+3"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d5-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":5,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+5"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"cond-d8-n2","leftValue":"={{ DateTime.fromISO($('Loop (Por Conversa)').item.json.last_incoming_at).diffNow('days').days | Math.abs | Math.floor }}","rightValue":8,"operator":{"type":"number","operation":"equals"}}],"combinator":"and"},"renameOutput":true,"outputKey":"D+8"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[864,160],"id":"56a9cb2d-2fba-4b26-8852-065ade33df51","name":"Dias (D+1, D+3, D+5, D+8)"},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, estou revisando nossas conversas e vi que deixamos de agendar sua avaliação. Tem alguma dúvida que eu possa esclarecer?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,0],"id":"6e36f0fc-97f5-4064-90e8-01a6d1f46e91","name":"Envia D+1","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}, lembrei de você! Fazer a avaliação presencial faz muita diferença para o seu diagnóstico com o Dr. Benito. Quer achar um horário?","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,128],"id":"e0f14a63-e6cb-4d69-9400-15801de2191d","name":"Envia D+3","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Olha como foi a avaliação de um paciente similar ao seu caso, {{ $('Busca Contato').item.json.name }}! Ficamos muito felizes pelo resultado.","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,240],"id":"c5deea8f-2958-48a2-9e41-da7584c72b4d","name":"Envia D+5","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $('Busca Contato').item.json.identifier }}","messageText":"=Oi {{ $('Busca Contato').item.json.name }}. Não sei se no momento esse tratamento é sua prioridade, então não vou insistir, ok? Nossas portas estarão abertas quando você se sentir confortável. Abraços!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1104,368],"id":"ef98def4-47dd-46b5-8858-8e654d9edfe5","name":"Envia D+8 (Encerramento)","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"mode":"runOnceForEachItem","options":{}},"id":"aa4e3345-d597-48b3-9e47-4dd126e6fcac","name":"Merge Mensagens","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1408,144]},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1600,144],"id":"e02ebf19-ff1e-4100-a9ce-109c998eb1c7","name":"Atualiza last_followup_at","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por Conversa)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"followup_cadence","fieldValue":"perdido"},{"fieldId":"last_followup_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1408,368],"id":"fa2dd2aa-7b9d-46f3-bf8d-dabdef7f90bd","name":"Marca Perdido (D+8)","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"mode":"runOnceForEachItem","options":{}},"id":"815cd03a-29f7-4f1b-a033-fa7e27302ab9","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1824,288]}],"connections":{"Todo dia às 10h":{"main":[[{"node":"Busca Conversas (Nível 2)","type":"main","index":0}]]},"Busca Conversas (Nível 2)":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]},"Loop (Por Conversa)":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Dias (D+1, D+3, D+5, D+8)","type":"main","index":0}]]},"Dias (D+1, D+3, D+5, D+8)":{"main":[[{"node":"Envia D+1","type":"main","index":0}],[{"node":"Envia D+3","type":"main","index":0}],[{"node":"Envia D+5","type":"main","index":0}],[{"node":"Envia D+8 (Encerramento)","type":"main","index":0}]]},"Envia D+1":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+3":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+5":{"main":[[{"node":"Merge Mensagens","type":"main","index":0}]]},"Envia D+8 (Encerramento)":{"main":[[{"node":"Marca Perdido (D+8)","type":"main","index":0}]]},"Merge Mensagens":{"main":[[{"node":"Atualiza last_followup_at","type":"main","index":0}]]},"Atualiza last_followup_at":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Marca Perdido (D+8)":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por Conversa)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"60f35a7a-92ca-49db-b223-d69055e75c40","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T23:36:49.085Z","createdAt":"2026-03-07T23:36:49.085Z","role":"workflow:owner","workflowId":"AgoRDsX9dvt7C5Jh","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
