n8n-backup-20260321/B_5___Workflow__Gestão_de_No-show__Vdz9SKtn44v3kfjk.json
{"updatedAt":"2026-03-07T23:37:15.766Z","createdAt":"2026-03-07T23:37:15.766Z","id":"Vdz9SKtn44v3kfjk","name":"B.5 — Workflow: Gestão de No-show","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-880,112],"id":"4431e9de-4886-4ae9-8a68-7d66483052b2","name":"Todo dia às 23h"},{"parameters":{"url":"={{ $env.SUPABASE_URL }}/rest/v1/appointments?status=eq.confirmed&start_at=lt.{{ $now.minus({ hours: 2 }).toISO() }}","authentication":"predefinedCredentialType","nodeCredentialType":"supabaseApi","sendHeaders":true,"headerParameters":{"parameters":[{"name":"apikey","value":"={{ $credentials.serviceRole }}"},{"name":"Authorization","value":"Bearer {{ $credentials.serviceRole }}"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[-656,112],"id":"abc4ae33-9ca1-4479-b9f5-459183dbedc8","name":"Busca No-Shows","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"8b205532-220c-4d68-90c7-6f4b1e79d0bd","name":"Loop (Por No-show)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-448,112]},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-224,112],"id":"07ff81a2-3ef1-4ad4-8fab-700690f630e6","name":"Busca Conversation","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por No-show)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"no_show"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,0],"id":"fa604d51-31ab-4e27-84df-2aa77df6f008","name":"Marca Appointment: No-show","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Conversation').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"appointment_status","fieldValue":"no_show"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[0,240],"id":"d447a4b2-c13f-4911-9935-0e97ad543c10","name":"Marca Conversation: No-show","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"={{ $env.CHATWOOT_API_URL }}/api/v1/accounts/{{ $('Busca Conversation').item.json.account_id }}/conversations/{{ $('Busca Conversation').item.json.chatwoot_conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $env.CHATWOOT_API_TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"no_show"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[224,0],"id":"0b718ae2-aa48-4f05-adc7-d644e4b58d86","name":"Seta Label no_show Chatwoot"},{"parameters":{"mode":"runOnceForEachItem","options":{}},"id":"6b039508-a8a4-4534-b528-993389a13dff","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[512,112]}],"connections":{"Todo dia às 23h":{"main":[[{"node":"Busca No-Shows","type":"main","index":0}]]},"Busca No-Shows":{"main":[[{"node":"Loop (Por No-show)","type":"main","index":0}]]},"Loop (Por No-show)":{"main":[[{"node":"Busca Conversation","type":"main","index":0}]]},"Busca Conversation":{"main":[[{"node":"Marca Appointment: No-show","type":"main","index":0},{"node":"Marca Conversation: No-show","type":"main","index":0}]]},"Marca Appointment: No-show":{"main":[[{"node":"Seta Label no_show Chatwoot","type":"main","index":0}]]},"Marca Conversation: No-show":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Seta Label no_show Chatwoot":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por No-show)","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"3f862e76-583c-47d2-bae5-65c94a9d77b6","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-07T23:37:15.767Z","createdAt":"2026-03-07T23:37:15.767Z","role":"workflow:owner","workflowId":"Vdz9SKtn44v3kfjk","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
