n8n-backup-20260321/B_5___Workflow__Gestão_de_No-show__QaAhCf1zBYgSgBQP.json
{"updatedAt":"2026-03-08T00:29:26.740Z","createdAt":"2026-03-08T00:29:26.740Z","id":"QaAhCf1zBYgSgBQP","name":"B.5 — Workflow: Gestão de No-show","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 23 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[0,0],"id":"trigger-noshow","name":"Todo dia às 23h"},{"parameters":{"operation":"getAll","tableId":"appointments","returnAll":true,"filters":{"conditions":[{"keyName":"status","condition":"eq","keyValue":"confirmed"},{"keyName":"start_at","condition":"lt","keyValue":"={{ $now.minus({ hours: 2 }).toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[220,0],"id":"busca-noshows","name":"Busca No-Shows","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"options":{}},"id":"loop-noshow","name":"Loop (Por No-show)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[440,0]},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[660,0],"id":"busca-conversation-noshow","name":"Busca Conversation","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Loop (Por No-show)').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"status","fieldValue":"no_show"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,-100],"id":"update-appointment-noshow","name":"Marca Appointment: No-show","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Conversation').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"appointment_status","fieldValue":"no_show"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,140],"id":"update-conversation-noshow","name":"Marca Conversation: No-show","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"method":"POST","url":"={{ $env.CHATWOOT_API_URL }}/api/v1/accounts/{{ $('Busca Conversation').item.json.account_id }}/conversations/{{ $('Busca Conversation').item.json.chatwoot_conversation_id }}/labels","sendHeaders":true,"headerParameters":{"parameters":[{"name":"api_access_token","value":"={{ $env.CHATWOOT_API_TOKEN }}"}]},"sendBody":true,"bodyParameters":{"parameters":[{"name":"labels","value":"no_show"}]},"options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.1,"position":[1100,-100],"id":"http-chatwoot-label","name":"Configurar Credencial Chatwoot API"},{"parameters":{"mode":"runOnceForEachItem"},"id":"fechar-loop-noshow","name":"Fechar Loop (Merge)","type":"n8n-nodes-base.merge","typeVersion":2.1,"position":[1380,0]}],"connections":{"Todo dia às 23h":{"main":[[{"node":"Busca No-Shows","type":"main","index":0}]]},"Busca No-Shows":{"main":[[{"node":"Loop (Por No-show)","type":"main","index":0}]]},"Loop (Por No-show)":{"main":[[{"node":"Busca Conversation","type":"main","index":0}]]},"Busca Conversation":{"main":[[{"node":"Marca Appointment: No-show","type":"main","index":0},{"node":"Marca Conversation: No-show","type":"main","index":0}]]},"Marca Appointment: No-show":{"main":[[{"node":"Configurar Credencial Chatwoot API","type":"main","index":0}]]},"Marca Conversation: No-show":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":1}]]},"Configurar Credencial Chatwoot API":{"main":[[{"node":"Fechar Loop (Merge)","type":"main","index":0}]]},"Fechar Loop (Merge)":{"main":[[{"node":"Loop (Por No-show)","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"d501fb03-32a7-46eb-8745-67aa4cf3e621","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T00:29:26.742Z","createdAt":"2026-03-08T00:29:26.742Z","role":"workflow:owner","workflowId":"QaAhCf1zBYgSgBQP","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
