n8n-backup-20260321/C_2___Workflow__Agente_Sincronizador_Chatwoot__yDaQHb0kKuhSFXuX.json
{"updatedAt":"2026-03-08T00:29:26.834Z","createdAt":"2026-03-08T00:29:26.834Z","id":"yDaQHb0kKuhSFXuX","name":"C.2 — Workflow: Agente Sincronizador Chatwoot","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"httpMethod":"POST","path":"webhook-sincronizador-chatwoot","options":{}},"type":"n8n-nodes-base.webhook","typeVersion":1.1,"position":[0,0],"id":"trigger-chatwoot","name":"Webhook Chatwoot"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"c1","leftValue":"={{ $json.body.event }}","rightValue":"message_created","operator":{"type":"string","operation":"equals"}},{"id":"c2","leftValue":"={{ $json.body.message_type }}","rightValue":"incoming","operator":{"type":"string","operation":"equals"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[220,0],"id":"filtra-msg-recebidas","name":"É Mensagem Recebida?"},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"chatwoot_conversation_id","keyValue":"={{ $('É Mensagem Recebida?').item.json.body.conversation.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[440,-100],"id":"busca-conversa-chatwoot","name":"Busca Conversa Atual","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"rules":{"values":[{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c1","leftValue":"={{ $json.followup_cadence }}","rightValue":"nivel_1","operator":{"type":"string","operation":"equals","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Era Nível 1"},{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"c2","leftValue":"={{ $json.followup_cadence }}","rightValue":"nivel_1","operator":{"type":"string","operation":"notEquals","singleValue":true}}],"combinator":"and"},"renameOutput":true,"outputKey":"Outro Status"}]},"options":{}},"type":"n8n-nodes-base.switch","typeVersion":3.2,"position":[660,-100],"id":"checa-nivel-atual","name":"Qual era a Cadência?"},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Conversa Atual').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_incoming_at","fieldValue":"={{ $now.toISO() }}"},{"fieldId":"followup_cadence","fieldValue":"nivel_2"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,-200],"id":"update-vai-pro-nivel2","name":"Promove p/ Nível 2","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"update","tableId":"conversations","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Conversa Atual').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"last_incoming_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[880,0],"id":"update-apenas-data-msg","name":"Atualiza só Data Incoming","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}}],"connections":{"Webhook Chatwoot":{"main":[[{"node":"É Mensagem Recebida?","type":"main","index":0}]]},"É Mensagem Recebida?":{"main":[[{"node":"Busca Conversa Atual","type":"main","index":0}]]},"Busca Conversa Atual":{"main":[[{"node":"Qual era a Cadência?","type":"main","index":0}]]},"Qual era a Cadência?":{"main":[[{"node":"Promove p/ Nível 2","type":"main","index":0}],[{"node":"Atualiza só Data Incoming","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"21ea1127-e9d4-4681-8070-e6098cad42c3","activeVersionId":null,"versionCounter":1,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T00:29:26.836Z","createdAt":"2026-03-08T00:29:26.836Z","role":"workflow:owner","workflowId":"yDaQHb0kKuhSFXuX","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
