n8n-backup-20260321/Confirmação_de_Agendamento_-_24h__klcRRPGxJlXRCCjk.json
{"updatedAt":"2026-03-07T22:48:16.195Z","createdAt":"2026-03-07T20:36:44.047Z","id":"klcRRPGxJlXRCCjk","name":"Confirmação de Agendamento - 24h","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-17 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-880,160],"id":"49191eb6-98a1-473c-ad0b-3c21c91fb5ec","name":"Schedule Trigger (A cada 60min)"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({hours: 24}).toISO() }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[-640,160],"id":"dfdc3ee1-a0ed-4be6-8da7-5d03d71d6d63","name":"Busca Eventos nas próximas 24h","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-176],"id":"3e98f1f9-02fa-4d4f-8f43-964bc1884bac","name":"Busca Conversation (Supabase)","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-1","leftValue":"={{ $json.followup_cadence }}","rightValue":"confirmation","operator":{"type":"string","operation":"equals"}},{"id":"cond-2","leftValue":"={{ $('Busca Appointments').item.json.status }}","rightValue":"scheduled","operator":{"type":"string","operation":"equals"}},{"id":"cond-3","leftValue":"={{ $('Busca Appointments').item.json.confirmation_sent_at }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[176,-176],"id":"aa3dcd83-bb19-44a7-92a5-14dae36c51c4","name":"Checa Cadence e Status"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Appointments').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"confirmation_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[992,-192],"id":"478e32c9-9495-48af-b8fe-feb3d01debba","name":"Atualiza confirmation_sent_at","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"appointments","filters":{"conditions":[{"keyName":"google_event_id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,160],"id":"5626b09d-ed53-4c97-a5bf-7af8058b1694","name":"Busca Appointments","executeOnce":false,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b79c19d8-d80c-409c-a05a-ccba01f77cf0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,160],"id":"1805ad77-6f44-4c43-b873-517816a48641","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[48,176],"id":"0baee78e-bf37-470f-89d0-005574bf8ecd","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,-192],"id":"48af966b-0ae3-439b-a940-33acca937f32","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Olá {{ $json.name }}, tudo bem?\n\nAqui é a Savarina! Passando para relembrar da nossa consulta amanhâ {{ DateTime.fromISO($('Busca Appointments').item.json.start_at).setZone('America/Sao_Paulo').toFormat(\"d/M', às 'HH'hrs'\") }}!!\n\nO Dr Benito estará te aguardando no Link: {{ $('Busca Appointments').item.json.meet_link }}\n\nAguardo sua confirmação!!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,-192],"id":"0b489627-6d5b-4613-af71-54d540e85f98","name":"Enviar texto","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"options":{}},"id":"eedfb4de-373f-42a0-b258-4fdaa49fc62e","name":"Loop (Por Evento)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,864]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-17 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-880,800],"id":"8bf34c47-6080-4299-8d9a-fb8642847108","name":"Schedule Trigger (A cada 60min)1"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({hours: 240}).toISO() }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[-640,800],"id":"22fc52ed-cd08-4177-8208-2ea6b0fbd583","name":"Busca Eventos nas próximas 24h1","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,512],"id":"2a88bc84-0d55-41bf-9dee-0a719c4cc62e","name":"Busca Conversation (Supabase)1","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-1","leftValue":"={{ $json.followup_cadence }}","rightValue":"confirmation","operator":{"type":"string","operation":"equals"}},{"id":"cond-2","leftValue":"={{ $('Busca Appointments1').item.json.status }}","rightValue":"scheduled","operator":{"type":"string","operation":"equals"}},{"id":"cond-3","leftValue":"={{ $('Busca Appointments1').item.json.confirmation_sent_at }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[400,512],"id":"a9074109-cd9f-4d19-9605-e307137b1bab","name":"Checa Cadence e Status1"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Appointments1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"confirmation_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1232,496],"id":"8dfb126f-a671-4f8a-95be-a99957b30775","name":"Atualiza confirmation_sent_at1","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"appointments","filters":{"conditions":[{"keyName":"google_event_id","keyValue":"={{ $('Loop (Por Evento)').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,864],"id":"ce6366e7-cdd8-49d9-839b-f02c241fbfcc","name":"Busca Appointments1","executeOnce":false,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b79c19d8-d80c-409c-a05a-ccba01f77cf0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,912],"id":"bf203426-e992-4a89-98ad-187963d43d81","name":"If1"},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,496],"id":"6684754b-eefc-4ce6-88fc-1711da080e1f","name":"Busca Contato1","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Olá {{ $json.name }}, tudo bem?\n\nAqui é a Savarina! Passando para relembrar da nossa consulta amanhâ {{ DateTime.fromISO($('Busca Appointments1').item.json.start_at).setZone('America/Sao_Paulo').toFormat(\"d/M', às 'HH'hrs'\") }}!!\n\nO Dr Benito estará te aguardando no Link: {{ $('Busca Appointments1').item.json.meet_link }}\n\nAguardo sua confirmação!!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1024,496],"id":"34c2224d-ce38-43aa-ac18-96ad3bbe4104","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}}],"connections":{"Schedule Trigger (A cada 60min)":{"main":[[{"node":"Busca Eventos nas próximas 24h","type":"main","index":0}]]},"Busca Eventos nas próximas 24h":{"main":[[{"node":"Busca Appointments","type":"main","index":0}]]},"Busca Conversation (Supabase)":{"main":[[{"node":"Checa Cadence e Status","type":"main","index":0}]]},"Checa Cadence e Status":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Appointments":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Busca Conversation (Supabase)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Atualiza confirmation_sent_at","type":"main","index":0}]]},"Loop (Por Evento)":{"main":[[],[{"node":"Busca Appointments1","type":"main","index":0}]]},"Schedule Trigger (A cada 60min)1":{"main":[[{"node":"Busca Eventos nas próximas 24h1","type":"main","index":0}]]},"Busca Eventos nas próximas 24h1":{"main":[[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Busca Conversation (Supabase)1":{"main":[[{"node":"Checa Cadence e Status1","type":"main","index":0}]]},"Checa Cadence e Status1":{"main":[[{"node":"Busca Contato1","type":"main","index":0}],[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Atualiza confirmation_sent_at1":{"main":[[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Busca Appointments1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Busca Conversation (Supabase)1","type":"main","index":0}],[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Busca Contato1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Atualiza confirmation_sent_at1","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":{"node:Schedule Trigger (A cada 60min)":{"recurrenceRules":[]},"node:Schedule Trigger (A cada 60min)1":{"recurrenceRules":[]}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e52e315d-8ec0-4c58-b107-8900203684e5","activeVersionId":"e52e315d-8ec0-4c58-b107-8900203684e5","versionCounter":155,"triggerCount":2,"shared":[{"updatedAt":"2026-03-07T20:36:44.049Z","createdAt":"2026-03-07T20:36:44.049Z","role":"workflow:owner","workflowId":"klcRRPGxJlXRCCjk","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-07T22:50:45.000Z","createdAt":"2026-03-07T22:48:16.196Z","versionId":"e52e315d-8ec0-4c58-b107-8900203684e5","workflowId":"klcRRPGxJlXRCCjk","nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-17 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-880,160],"id":"49191eb6-98a1-473c-ad0b-3c21c91fb5ec","name":"Schedule Trigger (A cada 60min)"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({hours: 24}).toISO() }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[-640,160],"id":"dfdc3ee1-a0ed-4be6-8da7-5d03d71d6d63","name":"Busca Eventos nas próximas 24h","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-16,-176],"id":"3e98f1f9-02fa-4d4f-8f43-964bc1884bac","name":"Busca Conversation (Supabase)","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-1","leftValue":"={{ $json.followup_cadence }}","rightValue":"confirmation","operator":{"type":"string","operation":"equals"}},{"id":"cond-2","leftValue":"={{ $('Busca Appointments').item.json.status }}","rightValue":"scheduled","operator":{"type":"string","operation":"equals"}},{"id":"cond-3","leftValue":"={{ $('Busca Appointments').item.json.confirmation_sent_at }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[176,-176],"id":"aa3dcd83-bb19-44a7-92a5-14dae36c51c4","name":"Checa Cadence e Status"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Appointments').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"confirmation_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[992,-192],"id":"478e32c9-9495-48af-b8fe-feb3d01debba","name":"Atualiza confirmation_sent_at","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"appointments","filters":{"conditions":[{"keyName":"google_event_id","keyValue":"={{ $json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-464,160],"id":"5626b09d-ed53-4c97-a5bf-7af8058b1694","name":"Busca Appointments","executeOnce":false,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b79c19d8-d80c-409c-a05a-ccba01f77cf0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[-288,160],"id":"1805ad77-6f44-4c43-b873-517816a48641","name":"If"},{"parameters":{},"type":"n8n-nodes-base.noOp","typeVersion":1,"position":[48,176],"id":"0baee78e-bf37-470f-89d0-005574bf8ecd","name":"No Operation, do nothing"},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[592,-192],"id":"48af966b-0ae3-439b-a940-33acca937f32","name":"Busca Contato","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Olá {{ $json.name }}, tudo bem?\n\nAqui é a Savarina! Passando para relembrar da nossa consulta amanhâ {{ DateTime.fromISO($('Busca Appointments').item.json.start_at).setZone('America/Sao_Paulo').toFormat(\"d/M', às 'HH'hrs'\") }}!!\n\nO Dr Benito estará te aguardando no Link: {{ $('Busca Appointments').item.json.meet_link }}\n\nAguardo sua confirmação!!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[800,-192],"id":"0b489627-6d5b-4613-af71-54d540e85f98","name":"Enviar texto","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}},{"parameters":{"options":{}},"id":"eedfb4de-373f-42a0-b258-4fdaa49fc62e","name":"Loop (Por Evento)","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-192,864]},{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 8-17 * * *"}]}},"type":"n8n-nodes-base.scheduleTrigger","typeVersion":1.1,"position":[-880,800],"id":"8bf34c47-6080-4299-8d9a-fb8642847108","name":"Schedule Trigger (A cada 60min)1"},{"parameters":{"operation":"getAll","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"returnAll":true,"options":{"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus({hours: 240}).toISO() }}"}},"type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[-640,800],"id":"22fc52ed-cd08-4177-8208-2ea6b0fbd583","name":"Busca Eventos nas próximas 24h1","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"get","tableId":"conversations","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.conversation_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,512],"id":"2a88bc84-0d55-41bf-9dee-0a719c4cc62e","name":"Busca Conversation (Supabase)1","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"cond-1","leftValue":"={{ $json.followup_cadence }}","rightValue":"confirmation","operator":{"type":"string","operation":"equals"}},{"id":"cond-2","leftValue":"={{ $('Busca Appointments1').item.json.status }}","rightValue":"scheduled","operator":{"type":"string","operation":"equals"}},{"id":"cond-3","leftValue":"={{ $('Busca Appointments1').item.json.confirmation_sent_at }}","rightValue":"","operator":{"type":"string","operation":"empty"}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[400,512],"id":"a9074109-cd9f-4d19-9605-e307137b1bab","name":"Checa Cadence e Status1"},{"parameters":{"operation":"update","tableId":"appointments","filters":{"conditions":[{"keyName":"id","condition":"eq","keyValue":"={{ $('Busca Appointments1').item.json.id }}"}]},"fieldsUi":{"fieldValues":[{"fieldId":"confirmation_sent_at","fieldValue":"={{ $now.toISO() }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[1232,496],"id":"8dfb126f-a671-4f8a-95be-a99957b30775","name":"Atualiza confirmation_sent_at1","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"operation":"get","tableId":"appointments","filters":{"conditions":[{"keyName":"google_event_id","keyValue":"={{ $('Loop (Por Evento)').item.json.id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[96,864],"id":"ce6366e7-cdd8-49d9-839b-f02c241fbfcc","name":"Busca Appointments1","executeOnce":false,"alwaysOutputData":true,"credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":3},"conditions":[{"id":"b79c19d8-d80c-409c-a05a-ccba01f77cf0","leftValue":"={{ $json.id }}","rightValue":"","operator":{"type":"string","operation":"exists","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.3,"position":[544,912],"id":"bf203426-e992-4a89-98ad-187963d43d81","name":"If1"},{"parameters":{"operation":"get","tableId":"contacts","filters":{"conditions":[{"keyName":"id","keyValue":"={{ $json.contact_id }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[816,496],"id":"6684754b-eefc-4ce6-88fc-1711da080e1f","name":"Busca Contato1","credentials":{"supabaseApi":{"id":"ssSRG4JUddyypjyv","name":"Supabase account"}}},{"parameters":{"resource":"messages-api","instanceName":"Mané Garrincha","remoteJid":"={{ $json.identifier }}","messageText":"=Olá {{ $json.name }}, tudo bem?\n\nAqui é a Savarina! Passando para relembrar da nossa consulta amanhâ {{ DateTime.fromISO($('Busca Appointments1').item.json.start_at).setZone('America/Sao_Paulo').toFormat(\"d/M', às 'HH'hrs'\") }}!!\n\nO Dr Benito estará te aguardando no Link: {{ $('Busca Appointments1').item.json.meet_link }}\n\nAguardo sua confirmação!!","options_message":{}},"type":"n8n-nodes-evolution-api.evolutionApi","typeVersion":1,"position":[1024,496],"id":"34c2224d-ce38-43aa-ac18-96ad3bbe4104","name":"Enviar texto1","credentials":{"evolutionApi":{"id":"6ykY9tf3T4pomW6f","name":"Evolution account 2"}}}],"connections":{"Schedule Trigger (A cada 60min)":{"main":[[{"node":"Busca Eventos nas próximas 24h","type":"main","index":0}]]},"Busca Eventos nas próximas 24h":{"main":[[{"node":"Busca Appointments","type":"main","index":0}]]},"Busca Conversation (Supabase)":{"main":[[{"node":"Checa Cadence e Status","type":"main","index":0}]]},"Checa Cadence e Status":{"main":[[{"node":"Busca Contato","type":"main","index":0}]]},"Busca Appointments":{"main":[[{"node":"If","type":"main","index":0}]]},"If":{"main":[[{"node":"Busca Conversation (Supabase)","type":"main","index":0}],[{"node":"No Operation, do nothing","type":"main","index":0}]]},"Busca Contato":{"main":[[{"node":"Enviar texto","type":"main","index":0}]]},"Enviar texto":{"main":[[{"node":"Atualiza confirmation_sent_at","type":"main","index":0}]]},"Loop (Por Evento)":{"main":[[],[{"node":"Busca Appointments1","type":"main","index":0}]]},"Schedule Trigger (A cada 60min)1":{"main":[[{"node":"Busca Eventos nas próximas 24h1","type":"main","index":0}]]},"Busca Eventos nas próximas 24h1":{"main":[[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Busca Conversation (Supabase)1":{"main":[[{"node":"Checa Cadence e Status1","type":"main","index":0}]]},"Checa Cadence e Status1":{"main":[[{"node":"Busca Contato1","type":"main","index":0}],[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Atualiza confirmation_sent_at1":{"main":[[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Busca Appointments1":{"main":[[{"node":"If1","type":"main","index":0}]]},"If1":{"main":[[{"node":"Busca Conversation (Supabase)1","type":"main","index":0}],[{"node":"Loop (Por Evento)","type":"main","index":0}]]},"Busca Contato1":{"main":[[{"node":"Enviar texto1","type":"main","index":0}]]},"Enviar texto1":{"main":[[{"node":"Atualiza confirmation_sent_at1","type":"main","index":0}]]}},"authors":"FABIO fabiohhsales@gmail.com","name":"Version e52e315d","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-03-07T22:50:45.322Z","id":252,"workflowId":"klcRRPGxJlXRCCjk","versionId":"e52e315d-8ec0-4c58-b107-8900203684e5","event":"activated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"}]}}
