n8n-backup-20260321/Google_Scaper__4V1I273LJ466GHBO.json
{"updatedAt":"2026-03-07T02:38:00.589Z","createdAt":"2026-03-04T00:10:50.220Z","id":"4V1I273LJ466GHBO","name":"Google Scaper","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"path":"c05ed22b-18c7-4a2b-be07-7b5f1c6a05cd","formTitle":"🔍 Busca de Preços - Google Shopping","formDescription":"Preencha para buscar e analisar preços de concorrentes","formFields":{"values":[{"fieldLabel":"Produto","placeholder":"Ex: iPhone 13 Rosa 128GB","requiredField":true},{"fieldLabel":"Quantidade de resultados","fieldType":"number","placeholder":"10"},{"fieldLabel":"Faixa de preço mínimo (R$)","fieldType":"number","placeholder":"0"},{"fieldLabel":"Faixa de preço máximo (R$)","fieldType":"number","placeholder":"99999"}]},"options":{}},"id":"59202795-e81d-4b4c-86df-b34628bf7392","name":"📋 Formulário de Busca","type":"n8n-nodes-base.formTrigger","typeVersion":2,"position":[688,-272],"webhookId":"c05ed22b-18c7-4a2b-be07-7b5f1c6a05cd"},{"parameters":{"options":{}},"id":"e154af01-592f-4298-81b8-826c1bde495c","name":"⚙️ Configurar Variáveis","type":"n8n-nodes-base.set","typeVersion":3,"position":[912,-272]},{"parameters":{"url":"=https://api.scraperapi.com/structured/google/shopping?api_key=&query{{ $json.Produto }}&country_code=br","options":{"response":{"response":{"responseFormat":"text"}},"timeout":30000}},"id":"c475ed00-b234-4f16-8f08-b9dc661ce973","name":"🌐 Buscar Google Shopping","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1136,-272]},{"parameters":{"jsCode":"// Parser do HTML do Google Shopping\nconst html = $input.first().json.data;\nconst produto_buscado = $('⚙️ Configurar Variáveis').first().json.produto;\nconst preco_min = $('⚙️ Configurar Variáveis').first().json.preco_min;\nconst preco_max = $('⚙️ Configurar Variáveis').first().json.preco_max;\nconst busca_id = $('⚙️ Configurar Variáveis').first().json.busca_id;\n\nconst resultados = [];\n\n// Extrair blocos de produtos do Google Shopping\n// Pattern para capturar dados dos cards de produto\nconst productPattern = /<div[^>]*class=\"[^\"]*sh-dgr__content[^\"]*\"[^>]*>(.*?)<\\/div>\\s*<\\/div>/gs;\nconst namePattern = /<h3[^>]*class=\"[^\"]*tAxDx[^\"]*\"[^>]*>([^<]+)<\\/h3>/;\nconst pricePattern = /class=\"[^\"]*a8Pemb[^\"]*\"[^>]*>([^<]+)<\\/span>/;\nconst linkPattern = /<a[^>]*href=\"(\\/shopping\\/product[^\"]+|https?:[^\"]+)\"[^>]*>/;\nconst sellerPattern = /class=\"[^\"]*aULzUe[^\"]*\"[^>]*>([^<]+)<\\/span>/;\n\n// Método alternativo: buscar por padrão de preço em Reais\nconst altProductPattern = /data-sh-or=\"([^\"]+)\"[^>]*>.*?<span[^>]*class=\"[^\"]*a8Pemb[^\"]*\"[^>]*>R\\$\\s*([\\d.,]+).*?<h3[^>]*>([^<]+)<\\/h3>.*?href=\"([^\"]+)\"/gs;\n\n// Tentar extração primária\nlet matches;\nconst priceBlocks = html.match(/R\\$[\\s\\d.,]+/g) || [];\n\n// Extração robusta por regex em múltiplas passagens\nconst linkMatches = html.match(/href=\"(https:\\/\\/www\\.google\\.com\\/shopping\\/product\\/[^\"]+)\"/g) || [];\nconst nameMatches = html.match(/<h3[^>]*class=\"[^\"]*tAxDx[^\"]*\"[^>]*>([^<]+)<\\/h3>/g) || [];\nconst priceMatches = html.match(/class=\"[^\"]*a8Pemb[^\"]*OFFNJ[^\"]*\"[^>]*>R\\$&nbsp;([\\d.,]+)<\\/span>/g) || \n                    html.match(/class=\"[^\"]*a8Pemb[^\"]*\"[^>]*>R\\$\\s*([\\d.,]+)<\\/span>/g) || [];\n\n// Construir resultados\nconst count = Math.min(nameMatches.length, priceMatches.length, linkMatches.length);\n\nfor (let i = 0; i < count; i++) {\n  try {\n    const nameMatch = nameMatches[i]?.match(/>([^<]+)<\\/h3>/);\n    const priceMatch = priceMatches[i]?.match(/R\\$[&nbsp;\\s]*([\\d.,]+)/);\n    const linkMatch = linkMatches[i]?.match(/href=\"([^\"]+)\"/);\n    \n    if (!nameMatch || !priceMatch) continue;\n    \n    const nome = nameMatch[1].trim();\n    const precoStr = priceMatch[1].replace(/\\./g, '').replace(',', '.');\n    const preco = parseFloat(precoStr);\n    const link = linkMatch ? linkMatch[1] : '';\n    \n    // Filtrar por faixa de preço\n    if (preco < preco_min || preco > preco_max) continue;\n    \n    resultados.push({\n      busca_id,\n      produto_buscado,\n      nome_produto: nome,\n      preco_raw: `R$ ${priceMatch[1]}`,\n      preco_numerico: preco,\n      link_google: `https://www.google.com${link}`,\n      link_produto: '',  // será preenchido no próximo step\n      vendedor: '',      // será extraído ao visitar o link\n      match_score: 0,    // será calculado pela IA\n      analise_ia: '',\n      data_coleta: new Date().toISOString()\n    });\n  } catch(e) {\n    // Ignorar erros de parsing individual\n    continue;\n  }\n}\n\n// Se não encontrou nada, retornar item de erro\nif (resultados.length === 0) {\n  return [{\n    json: {\n      erro: 'Nenhum produto encontrado. Verifique a busca ou a chave da ScraperAPI.',\n      html_length: html.length,\n      produto_buscado\n    }\n  }];\n}\n\nreturn resultados.map(r => ({ json: r }));"},"id":"ebccc2ca-c483-4c99-9e4e-50f7b8282e2f","name":"🔍 Parsear Resultados","type":"n8n-nodes-base.code","typeVersion":2,"position":[1360,-272]},{"parameters":{"options":{}},"id":"fac3b334-bb72-4aba-967a-566a96d80c43","name":"🔄 Loop por Produto","type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[1568,-272]},{"parameters":{"url":"={{ $json.link_google }}","options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"responseFormat":"text"}},"timeout":15000}},"id":"f05c11aa-cf0f-4f8b-a9c0-a143b33bcc22","name":"🔗 Acessar Página do Produto","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[1792,-272]},{"parameters":{"jsCode":"// Extrair link real do marketplace a partir da página do Google Shopping\nconst html = $input.first().json.data || '';\nconst dadosProduto = $('🔄 Loop por Produto').first().json;\n\n// Padrões para detectar links de marketplaces brasileiros\nconst marketplacePatterns = [\n  { nome: 'Mercado Livre', pattern: /href=\"(https:\\/\\/[^\"]*mercadolivre\\.com\\.br[^\"]*)\"/, regex_vendedor: /class=\"[^\"]*ui-pdp-seller[^\"]*\"[^>]*>([^<]+)<\\/span>/ },\n  { nome: 'Amazon', pattern: /href=\"(https:\\/\\/[^\"]*amazon\\.com\\.br[^\"]*)\"/, regex_vendedor: /#sellerProfileTriggerId[^>]*>([^<]+)<\\/a>/ },\n  { nome: 'Magazine Luiza', pattern: /href=\"(https:\\/\\/[^\"]*magazineluiza\\.com\\.br[^\"]*)\"/, regex_vendedor: /seller-name[^>]*>([^<]+)</ },\n  { nome: 'Americanas', pattern: /href=\"(https:\\/\\/[^\"]*americanas\\.com\\.br[^\"]*)\"/, regex_vendedor: /sold-and-delivered[^>]*>([^<]+)</ },\n  { nome: 'Casas Bahia', pattern: /href=\"(https:\\/\\/[^\"]*casasbahia\\.com\\.br[^\"]*)\"/, regex_vendedor: /seller-info[^>]*>([^<]+)</ },\n  { nome: 'Submarino', pattern: /href=\"(https:\\/\\/[^\"]*submarino\\.com\\.br[^\"]*)\"/, regex_vendedor: /seller[^>]*>([^<]+)</ },\n  { nome: 'Shopee', pattern: /href=\"(https:\\/\\/[^\"]*shopee\\.com\\.br[^\"]*)\"/, regex_vendedor: /shopName[^>]*>([^<]+)</ },\n  { nome: 'Kabum', pattern: /href=\"(https:\\/\\/[^\"]*kabum\\.com\\.br[^\"]*)\"/, regex_vendedor: /seller[^>]*>([^<]+)</ }\n];\n\nlet link_real = '';\nlet marketplace_detectado = 'Desconhecido';\n\n// Tentar detectar o marketplace pelo link do Google Shopping\nfor (const mp of marketplacePatterns) {\n  const match = html.match(mp.pattern);\n  if (match) {\n    link_real = match[1];\n    marketplace_detectado = mp.nome;\n    break;\n  }\n}\n\n// Se não achou pelo HTML, tentar pela URL atual (após redirect)\nif (!link_real) {\n  const urlAtual = $input.first().json.url || '';\n  for (const mp of marketplacePatterns) {\n    if (mp.pattern.test(urlAtual)) {\n      link_real = urlAtual;\n      marketplace_detectado = mp.nome;\n      break;\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...dadosProduto,\n    link_produto: link_real || dadosProduto.link_google,\n    marketplace: marketplace_detectado,\n    precisa_visitar: link_real !== ''\n  }\n}];"},"id":"5541f3da-cbbc-4ad3-933b-fd2390bd1fec","name":"🏪 Detectar Marketplace","type":"n8n-nodes-base.code","typeVersion":2,"position":[2016,-272]},{"parameters":{"url":"={{ $json.link_produto }}","options":{"redirect":{"redirect":{"maxRedirects":5}},"response":{"response":{"responseFormat":"text"}},"timeout":20000}},"id":"79d1f0bb-e7e8-4782-87bf-21fd4947599e","name":"🛒 Acessar Marketplace","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2240,-272]},{"parameters":{"jsCode":"// Extrair vendedor de acordo com o marketplace detectado\nconst html = $input.first().json.data || '';\nconst dadosProduto = $('🏪 Detectar Marketplace').first().json;\nconst marketplace = dadosProduto.marketplace;\n\nlet vendedor = 'Não identificado';\n\n// Padrões específicos por marketplace\nconst extractors = {\n  'Mercado Livre': [\n    /class=\"[^\"]*ui-pdp-seller__link-trigger[^\"]*\"[^>]*>([^<]+)<\\/a>/,\n    /Vendido por<\\/span>\\s*<span[^>]*>([^<]+)<\\/span>/,\n    /\"sellerNickname\":\"([^\"]+)\"/\n  ],\n  'Amazon': [\n    /id=\"sellerProfileTriggerId\"[^>]*>([^<]+)<\\/a>/,\n    /\"seller\":\\{\"displayName\":\"([^\"]+)\"/,\n    /Vendido por:?<\\/span>\\s*<span[^>]*>([^<]+)<\\/span>/\n  ],\n  'Magazine Luiza': [\n    /class=\"[^\"]*seller-name[^\"]*\"[^>]*>([^<]+)</,\n    /\"sellerName\":\"([^\"]+)\"/,\n    /Vendedor:\\s*([^<\"]+)/\n  ],\n  'Americanas': [\n    /class=\"[^\"]*soldBy[^\"]*\"[^>]*>([^<]+)</,\n    /\"sellerName\":\"([^\"]+)\"/\n  ],\n  'Casas Bahia': [\n    /Vendido e entregue por<[^>]+>([^<]+)</,\n    /\"sellerName\":\"([^\"]+)\"/\n  ],\n  'Shopee': [\n    /class=\"[^\"]*shopName[^\"]*\"[^>]*>([^<]+)</,\n    /\"shopName\":\"([^\"]+)\"/\n  ]\n};\n\nconst patterns = extractors[marketplace] || [];\n\nfor (const pattern of patterns) {\n  const match = html.match(pattern);\n  if (match && match[1]) {\n    vendedor = match[1].trim().replace(/&amp;/g, '&').replace(/&#039;/g, \"'\");\n    break;\n  }\n}\n\n// Fallback: tentar extrair do JSON-LD (dados estruturados)\nif (vendedor === 'Não identificado') {\n  const jsonLdMatch = html.match(/<script type=\"application\\/ld\\+json\">([^<]+)<\\/script>/g);\n  if (jsonLdMatch) {\n    for (const block of jsonLdMatch) {\n      try {\n        const cleanBlock = block.replace(/<script[^>]*>/, '').replace(/<\\/script>/, '');\n        const data = JSON.parse(cleanBlock);\n        if (data.seller?.name) { vendedor = data.seller.name; break; }\n        if (data.brand?.name) { vendedor = data.brand.name; break; }\n      } catch(e) {}\n    }\n  }\n}\n\nreturn [{\n  json: {\n    ...dadosProduto,\n    vendedor\n  }\n}];"},"id":"5b8deb55-3b5a-46b5-b672-eeb044c4c542","name":"👤 Extrair Vendedor","type":"n8n-nodes-base.code","typeVersion":2,"position":[2448,-272]},{"parameters":{"method":"POST","url":"https://api.anthropic.com/v1/messages","authentication":"genericCredentialType","genericAuthType":"httpHeaderAuth","sendHeaders":true,"headerParameters":{"parameters":[{"name":"anthropic-version","value":"2023-06-01"},{"name":"content-type","value":"application/json"}]},"sendBody":true,"bodyParameters":{"parameters":[{}]},"options":{}},"id":"b509ec00-069d-48e9-ad90-05c140fb219e","name":"🤖 Análise IA (Claude)","type":"n8n-nodes-base.httpRequest","typeVersion":4,"position":[2672,-128],"credentials":{"httpHeaderAuth":{"id":"hOyxqErwCSJL901l","name":"n8n <> ChatWoot Access Token"}}},{"parameters":{"jsCode":"// Combinar dados do produto com análise da IA\nconst resposta_ia = $input.first().json;\nconst dadosProduto = $('👤 Extrair Vendedor').first().json;\n\nlet analise = {};\ntry {\n  // Extrair texto da resposta do Claude\n  const texto_ia = resposta_ia.content[0].text;\n  // Limpar possíveis blocos de código\n  const json_limpo = texto_ia.replace(/```json/g, '').replace(/```/g, '').trim();\n  analise = JSON.parse(json_limpo);\n} catch(e) {\n  analise = {\n    match_score: 0,\n    e_mesmo_produto: 'erro',\n    justificativa: 'Erro ao processar análise',\n    alerta: 'Falha no parsing da resposta da IA'\n  };\n}\n\n// Formatar para o Google Sheets\nconst agora = new Date();\nconst dataFormatada = agora.toLocaleDateString('pt-BR');\nconst horaFormatada = agora.toLocaleTimeString('pt-BR');\n\nreturn [{\n  json: {\n    // Identificação\n    data: dataFormatada,\n    hora: horaFormatada,\n    busca_id: dadosProduto.busca_id,\n    \n    // Busca\n    produto_buscado: dadosProduto.produto_buscado,\n    \n    // Produto encontrado  \n    nome_produto: dadosProduto.nome_produto,\n    preco: dadosProduto.preco_raw,\n    preco_numerico: dadosProduto.preco_numerico,\n    marketplace: dadosProduto.marketplace,\n    vendedor: dadosProduto.vendedor,\n    link: dadosProduto.link_produto || dadosProduto.link_google,\n    \n    // Análise IA\n    match_score: analise.match_score || 0,\n    e_mesmo_produto: analise.e_mesmo_produto || 'erro',\n    caracteristicas: (analise.caracteristicas_encontradas || []).join(', '),\n    faltando: (analise.caracteristicas_faltando || []).join(', '),\n    preco_adequado: analise.preco_adequado || 'indefinido',\n    justificativa: analise.justificativa || '',\n    alerta: analise.alerta || ''\n  }\n}];"},"id":"19e36b62-e7be-48eb-a17d-dc3ddb32bd08","name":"📊 Formatar Dados","type":"n8n-nodes-base.code","typeVersion":2,"position":[2896,-272]},{"parameters":{"operation":"append","documentId":{"__rl":true,"mode":"list","value":"SEU_GOOGLE_SHEETS_ID_AQUI"},"sheetName":{"__rl":true,"value":"Resultados","mode":"name"},"columns":{"mappingMode":"defineBelow","value":{},"matchingColumns":[],"schema":[],"attemptToConvertTypes":false,"convertFieldsToString":false},"options":{}},"id":"717229e2-113b-40c7-be90-e53b1a5f680b","name":"📈 Salvar no Google Sheets","type":"n8n-nodes-base.googleSheets","typeVersion":4,"position":[3120,-272],"credentials":{"googleSheetsOAuth2Api":{"id":"FoRiXDpwoQOzBTTx","name":"Google Sheets account"}}},{"parameters":{"respondWith":"text","responseBody":"=✅ Análise concluída!\n\nProduto: {{ $('📊 Formatar Dados').first().json.nome_produto }}\nMatch Score: {{ $('📊 Formatar Dados').first().json.match_score }}/100\nPreço: {{ $('📊 Formatar Dados').first().json.preco }}\nVendedor: {{ $('📊 Formatar Dados').first().json.vendedor }}\n\nResultados salvos no Google Sheets!","options":{}},"id":"4156e92f-0ce8-4d3e-b03d-2b04b763af77","name":"✅ Resposta do Formulário","type":"n8n-nodes-base.respondToWebhook","typeVersion":1,"position":[3328,-272]},{"parameters":{"modelId":{"__rl":true,"mode":"list","value":""},"responses":{"values":[{}]},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.openAi","typeVersion":2.1,"position":[2624,-496],"id":"f7a40061-032c-445b-a56a-7d313274ef25","name":"Message a model","credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"operation":"appendOrUpdate","documentId":{"__rl":true,"mode":"list","value":""},"sheetName":{"__rl":true,"mode":"list","value":""}},"type":"n8n-nodes-base.googleSheets","typeVersion":4.7,"position":[3168,-496],"id":"21382728-2cf5-4c1a-972d-a14fc92dc9e2","name":"Append or update row in sheet","credentials":{"googleSheetsOAuth2Api":{"id":"i4ulklajJxTnejfF","name":"Google Sheets account 2"}}}],"connections":{"📋 Formulário de Busca":{"main":[[{"node":"⚙️ Configurar Variáveis","type":"main","index":0}]]},"⚙️ Configurar Variáveis":{"main":[[{"node":"🌐 Buscar Google Shopping","type":"main","index":0}]]},"🌐 Buscar Google Shopping":{"main":[[{"node":"🔍 Parsear Resultados","type":"main","index":0}]]},"🔍 Parsear Resultados":{"main":[[{"node":"🔄 Loop por Produto","type":"main","index":0}]]},"🔄 Loop por Produto":{"main":[[{"node":"🔗 Acessar Página do Produto","type":"main","index":0}],[]]},"🔗 Acessar Página do Produto":{"main":[[{"node":"🏪 Detectar Marketplace","type":"main","index":0}]]},"🏪 Detectar Marketplace":{"main":[[{"node":"🛒 Acessar Marketplace","type":"main","index":0}]]},"🛒 Acessar Marketplace":{"main":[[{"node":"👤 Extrair Vendedor","type":"main","index":0}]]},"👤 Extrair Vendedor":{"main":[[{"node":"Message a model","type":"main","index":0}]]},"🤖 Análise IA (Claude)":{"main":[[]]},"📊 Formatar Dados":{"main":[[{"node":"📈 Salvar no Google Sheets","type":"main","index":0}]]},"📈 Salvar no Google Sheets":{"main":[[{"node":"✅ Resposta do Formulário","type":"main","index":0}]]},"Message a model":{"main":[[{"node":"📊 Formatar Dados","type":"main","index":0}]]}},"settings":{"executionOrder":"v1","binaryMode":"separate","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"📋 Formulário de Busca":[{"json":{"Produto":"Vibrador 25 cm","Quantidade de resultados":7,"Faixa de preço mínimo (R$)":50,"Faixa de preço máximo (R$)":1000,"submittedAt":"2026-03-04T00:19:56.054Z","formMode":"test"},"pairedItem":{"item":0}}]},"versionId":"fc350556-80a2-4de5-b2a8-6ca35e54fcb7","activeVersionId":null,"versionCounter":30,"triggerCount":0,"shared":[{"updatedAt":"2026-03-04T00:10:50.222Z","createdAt":"2026-03-04T00:10:50.222Z","role":"workflow:owner","workflowId":"4V1I273LJ466GHBO","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
