n8n-backup-20260321/Intelligent_Routine_Manager_V2__GbVHqY5GgSfCdIAn.json
{"updatedAt":"2026-03-09T22:32:25.624Z","createdAt":"2026-03-08T23:39:47.400Z","id":"GbVHqY5GgSfCdIAn","name":"Intelligent Routine Manager V2","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{"rule":{"interval":[{"field":"cronExpression","expression":"0 6 * * *"}]}},"id":"trigger","name":"Schedule Trigger (6:00 AM)","type":"n8n-nodes-base.scheduleTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"getAll","calendar":"primary","timeMin":"={{ $today.minus(1, 'days') }}","timeMax":"={{ $today.plus(2, 'days') }}"},"id":"calendar","name":"Calendar (48h)","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[200,-200],"credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"search","query":"modifiedTime > '{{ $today.minus(1, 'days').toISO() }}' and mimeType contains 'text'"},"id":"drive","name":"Search Transcripts (24h)","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[200,0],"credentials":{"googleDriveOAuth2Api":{"id":"","name":"Google Drive account"}}},{"parameters":{"operation":"getAll","team":"36993985","list":"901302590254","filters":{"includeSubtasks":true}},"id":"clickup_context","name":"Fetch Tasks (Context)","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[200,200],"credentials":{"clickUpApi":{"id":"","name":"ClickUp account"}}},{"parameters":{"operation":"download","fileId":"={{ $json.id }}"},"id":"drive_download","name":"Download Transcript Content","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[400,0],"credentials":{"googleDriveOAuth2Api":{"id":"","name":"Google Drive account"}}},{"parameters":{"resource":"chat","operation":"create","model":"gpt-4o-mini","messages":{"messageValues":[{"role":"system","content":"You are a pre-processing agent. Read the transcription and extract strict bullet points: 1) Actions to do 2) Decisions made."},{"role":"user","content":"={{ $binary.data.data }}"}]}},"id":"llm_preprocess","name":"LLM: Distill Transcript","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[600,0],"credentials":{"openAiApi":{"id":"","name":"OpenAI account"}}},{"parameters":{"keepOnlySet":true,"values":{"string":[{"name":"agenda","value":"={{ $node['Calendar (48h)'].json }}"},{"name":"distilled_transcripts","value":"={{ $node['LLM: Distill Transcript'].json.message.content }}"},{"name":"current_tasks","value":"={{ $node['Fetch Tasks (Context)'].json }}"}]}},"id":"combine","name":"Merge Context Strings","type":"n8n-nodes-base.set","typeVersion":1,"position":[800,0]},{"parameters":{"resource":"chat","operation":"create","model":"gpt-4o","messages":{"messageValues":[{"role":"system","content":"You are the Master Executive Assistant. Analyze Agenda (48h), Distilled Transcripts (24h), and Active Tasks.\nOutput a JSON array of operations:\n[\n  {\n    \"action\": \"create_task\",\n    \"title\": \"Task Title\",\n    \"description\": \"Reasoning\",\n    \"priority\": \"high\"\n  },\n  {\n    \"action\": \"update_task\",\n    \"task_id\": \"123abc4\",\n    \"comment\": \"Feedback from sync\"\n  }\n]"},{"role":"user","content":"=Agenda:\n{{ $json.agenda }}\n\nTranscripts:\n{{ $json.distilled_transcripts }}\n\nActive ClickUp:\n{{ $json.current_tasks }}"}]}},"id":"llm_master","name":"LLM: Master Brain","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[1000,0],"credentials":{"openAiApi":{"id":"","name":"OpenAI account"}}},{"parameters":{"jsCode":"const operations = JSON.parse($input.item.json.message.content);\nreturn operations.map(op => ({ json: op }));"},"id":"parse","name":"Split JSON Operations","type":"n8n-nodes-base.code","typeVersion":2,"position":[1200,0]},{"parameters":{"dataType":"string","value1":"={{ $json.action }}","rules":{"rules":[{"value2":"create_task","output":0},{"value2":"update_task","output":1}]}},"id":"switch","name":"Switch Action Route","type":"n8n-nodes-base.switch","typeVersion":1,"position":[1400,0]},{"parameters":{"operation":"create","team":"36993985","list":"901320779691","name":"={{ $json.title }}","description":"={{ $json.description }}","additionalFields":{"priority":"={{ $json.priority === 'high' ? 1 : ($json.priority === 'normal' ? 3 : 4) }}"}},"id":"clickup_create","name":"ClickUp (Create)","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1600,-100],"credentials":{"clickUpApi":{"id":"","name":"ClickUp account"}}},{"parameters":{"resource":"task","operation":"update","team":"36993985","task":"={{ $json.task_id }}","updateFields":{"description":"={{ $json.comment }}"}},"id":"clickup_update","name":"ClickUp (Update)","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[1600,100],"credentials":{"clickUpApi":{"id":"","name":"ClickUp account"}}}],"connections":{"Schedule Trigger (6:00 AM)":{"main":[[{"node":"Calendar (48h)","type":"main","index":0},{"node":"Search Transcripts (24h)","type":"main","index":0},{"node":"Fetch Tasks (Context)","type":"main","index":0}]]},"Search Transcripts (24h)":{"main":[[{"node":"Download Transcript Content","type":"main","index":0}]]},"Download Transcript Content":{"main":[[{"node":"LLM: Distill Transcript","type":"main","index":0}]]},"Calendar (48h)":{"main":[[{"node":"Merge Context Strings","type":"main","index":0}]]},"LLM: Distill Transcript":{"main":[[{"node":"Merge Context Strings","type":"main","index":0}]]},"Fetch Tasks (Context)":{"main":[[{"node":"Merge Context Strings","type":"main","index":0}]]},"Merge Context Strings":{"main":[[{"node":"LLM: Master Brain","type":"main","index":0}]]},"LLM: Master Brain":{"main":[[{"node":"Split JSON Operations","type":"main","index":0}]]},"Split JSON Operations":{"main":[[{"node":"Switch Action Route","type":"main","index":0}]]},"Switch Action Route":{"main":[[{"node":"ClickUp (Create)","type":"main","index":0}],[{"node":"ClickUp (Update)","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":{},"versionId":"f63c2bda-e28b-443e-8084-10cfacc43425","activeVersionId":null,"versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-08T23:39:47.403Z","createdAt":"2026-03-08T23:39:47.403Z","role":"workflow:owner","workflowId":"GbVHqY5GgSfCdIAn","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
