n8n-backup-20260321/My_Sub-Workflow_1__ToGDVDe0plU54hLR.json
{"updatedAt":"2026-02-15T10:56:48.795Z","createdAt":"2026-02-10T22:46:43.424Z","id":"ToGDVDe0plU54hLR","name":"My Sub-Workflow 1","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-64,400]},{"parameters":{"promptType":"define","text":"=O agente te enviará as seguintes informações:\nUse sempre a Timezone de São Paulo Brasil.\n\n{{ $json.query }}","hasOutputParser":true,"options":{"systemMessage":"=Sempre que entrar no contexto e critério de AGENDAMENTO, responsa sugerindo opções ou pedindo preferencia de agendas para o lead, CONSULTE OBRIGATORIAMENTE A DISPONIBILIDADE DA AGENDA USANDO A TOOL.\n\nAssim você sempre direcionar a tool GC_CheckAvailability ao começar a falar de agendar e disponibilidades.\n\nPROTOCOLO DE AGENDA (Google Calendar — Tools)\n\nVocê tem acesso às tools: GC_CheckAvailability, GC_GetEvents, GC_CreateEvent, GC_UpdateEvent, GC_DeleteEvent.\n\nVocê deve sempre chamá-las diretamente quando necessário.\n\nSe chamar GC_CreateEvent / GC_UpdateEvent / GC_DeleteEvent sem as informações abaixo, busque coletar mas não deixe de executar:\n\nter data + hora (ou janela) confirmadas\n\ne ter confirmação explícita do paciente (“pode confirmar”, “fechado”, “sim”)\n\nSempre checar antes:\n\npara agendar/remarcar → GC_CheckAvailability (ou GC_GetEvents quando precisa localizar)\n\nFuso sempre America/Sao_Paulo\n\nSe paciente falar “segunda/amanhã/de manhã”, você confirma e sugere faixa antes de tool.\n\nSe houver risco (múltiplos eventos, não achou evento, dúvida de identidade): handoff_to_human=true e não altera agenda.\n\nComo preencher o JSON final\n\nSe você só consultou: calendar_action=\"check_availability\"\n\nSe você criou: calendar_action=\"create\" e preencher event.id e event.title\n\nSe você atualizou: calendar_action=\"update\" e preencher event.id\n\nSe você cancelou: calendar_action=\"delete\" e preencher event.id\n\nSe não mexeu em agenda: calendar_action=\"none\"\n\nSempre que receber uma solicitação de cancelamento / reagendamento busque sempre primeiro o evento referido GC_GetEvents, em segundo consultar a disponibilidade com GC_CheckAvailability e terceiro retornar ao pedido já sugerindo outras opções.\n\nlabels_next sempre atualizado (ex.: etapa_agendando enquanto negocia; etapa_agendado quando criou; etapa_confirmado quando o paciente confirma presença)ul assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[624,368],"id":"bf144f3c-d391-41de-81b2-30d739b7bcd9","name":"AI Agent1"},{"parameters":{"descriptionType":"manual","toolDescription":"Sempre busque a disponibilidade da agenda do médico.\n\nBusque por agendas de 1h disponiveis.\n\nBusque disponibilidades na agenda de acordo com o combinado com o paciente.\n\nPara sugerir agendas, sempre sugira nos dias mais próximos disponiveis. e sempre em horários comerciais Use sempre a Timezone de São Paulo Brasil ou East Brazil.","resource":"calendar","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"id"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{"timezone":{"__rl":true,"value":"Brazil/East","mode":"list","cachedResultName":"Brazil/East"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[992,752],"id":"2d3bf001-e545-4379-8c0d-d1794a04a83f","name":"GC_CheckAvailability","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Crie eventos na agenda de acordo com o combinado com o paciente. Considerando o start_time e o end_time vindos da IA. Sempre com duração de 1h. \n\nUse sempre a Timezone de São Paulo Brasil ou East Brazil.","calendar":{"__rl":true,"value":"=fabiohhsales@gmail.com","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', `Consulta Dr Chumbao <> Benito`, 'boolean') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"],"sendUpdates":"all","summary":"=Consulta {{ $json.sessionId }} & Dr Benito"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,944],"id":"59c27fc6-9eec-41b6-9f1a-4fdf4e4ea42c","name":"GC_CreateEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1856,768],"id":"be1f6285-6d91-4461-ad00-b88681e2cd10","name":"GC_DeleteEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[288,704],"id":"77ae48ed-e860-4b4e-b5b8-a477cb5d71ad","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,704],"id":"28efe752-53ac-4399-9d57-eaa76b188d6e","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar. Use sempre a Timezone de São Paulo Brasil.","operation":"getAll","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"orderBy":"updated"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1312,816],"id":"60206fa1-225e-4950-95e8-c0f0f6d1fe96","name":"GC_GetEvents","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Update an event in Google Calendar.\n\nAlways use: Use sempre a Timezone de São Paulo Brasil ou East Brazil.","operation":"update","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[912,1136],"id":"5bc80d12-d9cb-475e-920e-d81ae2c19ea3","name":"GC_UpdateEvent22","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Sempre que for executada uma ação de reagendamento de eventos, utilize esta ferramenta para atualizar o evento no Google Calendar, de acordo com o pedido do cliente. Use sempre a Timezone de São Paulo Brasil ou East Brazil.","operation":"update","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1584,864],"id":"2ad66b61-3d48-43ed-a1a4-4183f0d9ce7d","name":"GC_UpdateEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"GC_CheckAvailability":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_CreateEvent":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_DeleteEvent":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"GC_GetEvents":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_UpdateEvent22":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_UpdateEvent":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","availableInMCP":false},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"When Executed by Another Workflow":[{"json":{"query":"{\"action\":\"check_availability\",\"timezone\":\"America/Sao_Paulo\",\"duration_minutes\":30}"},"pairedItem":{"item":0}}]},"versionId":"66ec6440-88a8-492d-80ea-1e138129f47b","activeVersionId":"66ec6440-88a8-492d-80ea-1e138129f47b","versionCounter":226,"triggerCount":0,"shared":[{"updatedAt":"2026-02-10T22:46:43.434Z","createdAt":"2026-02-10T22:46:43.434Z","role":"workflow:owner","workflowId":"ToGDVDe0plU54hLR","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-02-15T10:37:51.000Z","createdAt":"2026-02-15T10:37:21.425Z","versionId":"66ec6440-88a8-492d-80ea-1e138129f47b","workflowId":"ToGDVDe0plU54hLR","nodes":[{"parameters":{"inputSource":"passthrough"},"id":"c055762a-8fe7-4141-a639-df2372f30060","typeVersion":1.1,"name":"When Executed by Another Workflow","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-64,400]},{"parameters":{"promptType":"define","text":"=O agente te enviará as seguintes informações:\nUse sempre a Timezone de São Paulo Brasil.\n\n{{ $json.query }}","hasOutputParser":true,"options":{"systemMessage":"=Sempre que entrar no contexto e critério de AGENDAMENTO, responsa sugerindo opções ou pedindo preferencia de agendas para o lead, CONSULTE OBRIGATORIAMENTE A DISPONIBILIDADE DA AGENDA USANDO A TOOL.\n\nAssim você sempre direcionar a tool GC_CheckAvailability ao começar a falar de agendar e disponibilidades.\n\nPROTOCOLO DE AGENDA (Google Calendar — Tools)\n\nVocê tem acesso às tools: GC_CheckAvailability, GC_GetEvents, GC_CreateEvent, GC_UpdateEvent, GC_DeleteEvent.\n\nVocê deve sempre chamá-las diretamente quando necessário.\n\nSe chamar GC_CreateEvent / GC_UpdateEvent / GC_DeleteEvent sem as informações abaixo, busque coletar mas não deixe de executar:\n\nter data + hora (ou janela) confirmadas\n\ne ter confirmação explícita do paciente (“pode confirmar”, “fechado”, “sim”)\n\nSempre checar antes:\n\npara agendar/remarcar → GC_CheckAvailability (ou GC_GetEvents quando precisa localizar)\n\nFuso sempre America/Sao_Paulo\n\nSe paciente falar “segunda/amanhã/de manhã”, você confirma e sugere faixa antes de tool.\n\nSe houver risco (múltiplos eventos, não achou evento, dúvida de identidade): handoff_to_human=true e não altera agenda.\n\nComo preencher o JSON final\n\nSe você só consultou: calendar_action=\"check_availability\"\n\nSe você criou: calendar_action=\"create\" e preencher event.id e event.title\n\nSe você atualizou: calendar_action=\"update\" e preencher event.id\n\nSe você cancelou: calendar_action=\"delete\" e preencher event.id\n\nSe não mexeu em agenda: calendar_action=\"none\"\n\nSempre que receber uma solicitação de cancelamento / reagendamento busque sempre primeiro o evento referido GC_GetEvents, em segundo consultar a disponibilidade com GC_CheckAvailability e terceiro retornar ao pedido já sugerindo outras opções.\n\nlabels_next sempre atualizado (ex.: etapa_agendando enquanto negocia; etapa_agendado quando criou; etapa_confirmado quando o paciente confirma presença)ul assistant"}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":3.1,"position":[624,368],"id":"bf144f3c-d391-41de-81b2-30d739b7bcd9","name":"AI Agent1"},{"parameters":{"descriptionType":"manual","toolDescription":"Sempre busque a disponibilidade da agenda do médico.\n\nBusque por agendas de 1h disponiveis.\n\nBusque disponibilidades na agenda de acordo com o combinado com o paciente.\n\nPara sugerir agendas, sempre sugira nos dias mais próximos disponiveis. e sempre em horários comerciais Use sempre a Timezone de São Paulo Brasil ou East Brazil.","resource":"calendar","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"id"},"timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start_Time', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End_Time', ``, 'string') }}","options":{"timezone":{"__rl":true,"value":"Brazil/East","mode":"list","cachedResultName":"Brazil/East"}}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[992,752],"id":"2d3bf001-e545-4379-8c0d-d1794a04a83f","name":"GC_CheckAvailability","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Crie eventos na agenda de acordo com o combinado com o paciente. Considerando o start_time e o end_time vindos da IA. Sempre com duração de 1h. \n\nUse sempre a Timezone de São Paulo Brasil ou East Brazil.","calendar":{"__rl":true,"value":"=fabiohhsales@gmail.com","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}","end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', `Consulta Dr Chumbao <> Benito`, 'boolean') }}","additionalFields":{"attendees":["={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees0_Attendees', ``, 'string') }}","={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('attendees1_Attendees', ``, 'string') }}"],"sendUpdates":"all","summary":"=Consulta {{ $json.sessionId }} & Dr Benito"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[688,944],"id":"59c27fc6-9eec-41b6-9f1a-4fdf4e4ea42c","name":"GC_CreateEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"operation":"delete","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","options":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1856,768],"id":"be1f6285-6d91-4461-ad00-b88681e2cd10","name":"GC_DeleteEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"model":{"__rl":true,"value":"gpt-5.1","mode":"list","cachedResultName":"gpt-5.1"},"builtInTools":{},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.3,"position":[288,704],"id":"77ae48ed-e860-4b4e-b5b8-a477cb5d71ad","name":"OpenAI Chat Model1","credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.sessionId }}"},"type":"@n8n/n8n-nodes-langchain.memoryBufferWindow","typeVersion":1.3,"position":[432,704],"id":"28efe752-53ac-4399-9d57-eaa76b188d6e","name":"Simple Memory"},{"parameters":{"descriptionType":"manual","toolDescription":"Get many events in Google Calendar. Use sempre a Timezone de São Paulo Brasil.","operation":"getAll","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"returnAll":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Return_All', ``, 'boolean') }}","timeMin":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('After', ``, 'string') }}","timeMax":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Before', ``, 'string') }}","options":{"orderBy":"updated"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1312,816],"id":"60206fa1-225e-4950-95e8-c0f0f6d1fe96","name":"GC_GetEvents","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Update an event in Google Calendar.\n\nAlways use: Use sempre a Timezone de São Paulo Brasil ou East Brazil.","operation":"update","calendar":{"__rl":true,"value":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Calendar', ``, 'string') }}","mode":"id","__regex":"(^[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\\.[a-zA-Z0-9-]+)*)"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","updateFields":{}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[912,1136],"id":"5bc80d12-d9cb-475e-920e-d81ae2c19ea3","name":"GC_UpdateEvent22","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"descriptionType":"manual","toolDescription":"Sempre que for executada uma ação de reagendamento de eventos, utilize esta ferramenta para atualizar o evento no Google Calendar, de acordo com o pedido do cliente. Use sempre a Timezone de São Paulo Brasil ou East Brazil.","operation":"update","calendar":{"__rl":true,"value":"fabiohhsales@gmail.com","mode":"list","cachedResultName":"fabiohhsales@gmail.com"},"eventId":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Event_ID', ``, 'string') }}","useDefaultReminders":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Use_Default_Reminders', ``, 'boolean') }}","updateFields":{"end":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('End', ``, 'string') }}","start":"={{ /*n8n-auto-generated-fromAI-override*/ $fromAI('Start', ``, 'string') }}"}},"type":"n8n-nodes-base.googleCalendarTool","typeVersion":1.3,"position":[1584,864],"id":"2ad66b61-3d48-43ed-a1a4-4183f0d9ce7d","name":"GC_UpdateEvent","credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}}],"connections":{"When Executed by Another Workflow":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"GC_CheckAvailability":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_CreateEvent":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_DeleteEvent":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"OpenAI Chat Model1":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Simple Memory":{"ai_memory":[[]]},"GC_GetEvents":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_UpdateEvent22":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]},"GC_UpdateEvent":{"ai_tool":[[{"node":"AI Agent1","type":"ai_tool","index":0}]]}},"authors":"FABIO fabiohhsales@gmail.com","name":"Version 66ec6440","description":"","autosaved":true,"workflowPublishHistory":[{"createdAt":"2026-02-15T10:37:51.701Z","id":141,"workflowId":"ToGDVDe0plU54hLR","versionId":"66ec6440-88a8-492d-80ea-1e138129f47b","event":"activated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"}]}}
