n8n-backup-20260321/Telegram_Routine_Assistant_V2__088KjQIltoG8pDvD.json
{"updatedAt":"2026-03-09T23:42:58.672Z","createdAt":"2026-03-09T23:21:01.945Z","id":"088KjQIltoG8pDvD","name":"Telegram Routine Assistant V2","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{"updates":["message"]},"id":"tg_trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"webhookId":"tg-routine-v2","credentials":{"telegramApi":{"id":"vigW3TFKQu6KVFQs","name":"Telegram Routine Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"audio_check","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}]}},"id":"if_audio","name":"Is Audio?","type":"n8n-nodes-base.if","typeVersion":2,"position":[220,0]},{"parameters":{"method":"GET","url":"=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.voice.file_id }}","options":{}},"id":"get_file","name":"Get File Path","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-120]},{"parameters":{"method":"GET","url":"=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"dl_audio","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-120]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt","responseFormat":"text"}},"id":"whisper","name":"Whisper Transcribe","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[880,-120],"credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"jsCode":"const tg = $('Telegram Trigger').first().json;\nconst whisperOut = $input.first().json;\nconst text = whisperOut.text || whisperOut.data || JSON.stringify(whisperOut);\nreturn [{json: {message: {text: text, chat: tg.message.chat}}}];"},"id":"merge_audio","name":"Prepare Audio Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,-120]},{"parameters":{"jsCode":"const tg = $('Telegram Trigger').first().json;\nreturn [{json: {message: tg.message}}];"},"id":"prep_text","name":"Prepare Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,120]},{"parameters":{"mode":"chooseBranch","output":"all"},"id":"merge","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1300,0]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Voce e o Assistente de Rotina do Fabio Sales, consultor senior da Dealwise. Voce roda no Telegram e tem acesso completo as ferramentas abaixo.\n\nFERRAMENTAS DISPONIVEIS:\n1. calendar_read - Consultar agenda (proximos 3 dias)\n2. calendar_write - Criar/atualizar/deletar eventos. Params: action (create/update/delete), title, start_time (ISO), end_time (ISO), event_id (para update/delete), description\n3. google_docs - Criar documentos Google Docs. Params: title, content\n4. google_sheets - Criar planilhas Google Sheets. Params: title, sheet_name\n5. drive_search - Buscar arquivos no Google Drive (ultimos 14 dias)\n6. clickup_dealwise - Gerenciar tasks no workspace Dealwise (Operacoes). Params: action (read/create/comment), title, description, priority (high/normal/low), task_id, comment\n7. clickup_workspace2 - Gerenciar tasks no workspace Sales . Mesmos params do Dealwise.\n\nREGRAS:\n- Responda SEMPRE em portugues brasileiro\n- Seja conciso, e um chat Telegram\n- Use emojis com moderacao\n- Para criar tasks, confirme titulo antes\n- Formate listas com bullet points\n- Quando nao souber qual workspace ClickUp usar, pergunte\n- Para eventos, sempre peca data e horario se nao fornecidos\n- Voce pode receber audios transcritos - trate como texto normal"}},"id":"agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1500,0]},{"parameters":{"model":"gpt-4o","options":{"temperature":0.3}},"id":"llm","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1320,260],"credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","tableName":"telegram_chat_memory","contextWindowLength":20},"id":"mem","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1480,260],"credentials":{"postgres":{"id":"XQNf7Rt5GU1bSoqi","name":"Supabase Postgres (Telegram Memory)"}}},{"parameters":{"name":"calendar_read","description":"Consultar agenda Google Calendar proximos 3 dias. Use para perguntas sobre reunioes, compromissos, agenda.","workflowId":"wE2o7kRcTOt1kXHn"},"id":"t_cal_r","name":"Tool Calendar Read","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1640,260]},{"parameters":{"name":"calendar_write","description":"Criar, atualizar ou deletar eventos no Google Calendar. Params: action (create/update/delete), title, start_time (ISO 8601), end_time (ISO 8601), event_id (para update/delete), description.","workflowId":"WHlQMpmtrIxvMJpp","fields":{"values":[{"name":"action","description":"create, update ou delete","type":"string"},{"name":"title","description":"Titulo do evento","type":"string"},{"name":"start_time","description":"Data/hora inicio ISO 8601","type":"string"},{"name":"end_time","description":"Data/hora fim ISO 8601","type":"string"},{"name":"event_id","description":"ID do evento (para update/delete)","type":"string"},{"name":"description","description":"Descricao do evento","type":"string"}]}},"id":"t_cal_w","name":"Tool Calendar Write","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1800,260]},{"parameters":{"name":"google_docs","description":"Criar documentos Google Docs. Params: title, content.","workflowId":"ODjMHMDPzgS5gdVM","fields":{"values":[{"name":"title","description":"Titulo do documento","type":"string"},{"name":"content","description":"Conteudo do documento","type":"string"}]}},"id":"t_docs","name":"Tool Docs","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1960,260]},{"parameters":{"name":"google_sheets","description":"Criar planilhas Google Sheets. Params: title, sheet_name.","workflowId":"5hmd23RMZTfjMhQD","fields":{"values":[{"name":"title","description":"Titulo da planilha","type":"string"},{"name":"sheet_name","description":"Nome da aba","type":"string"}]}},"id":"t_sheets","name":"Tool Sheets","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2120,260]},{"parameters":{"name":"drive_search","description":"Buscar arquivos no Google Drive modificados nos ultimos 14 dias. Retorna documentos, planilhas, PDFs e textos.","workflowId":"wkv3VGdlPst2KBlw"},"id":"t_drive","name":"Tool Drive","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2280,260]},{"parameters":{"name":"clickup_dealwise","description":"Gerenciar tasks no ClickUp workspace Dealwise (Operacoes). Params: action (read/create/comment), title, description, priority (high/normal/low), task_id (para comment), comment.","workflowId":"QnAuUsQxspjp3rbV","fields":{"values":[{"name":"action","description":"read, create ou comment","type":"string"},{"name":"title","description":"Titulo da task","type":"string"},{"name":"description","description":"Descricao","type":"string"},{"name":"priority","description":"high, normal ou low","type":"string"},{"name":"task_id","description":"ID da task (para comment)","type":"string"},{"name":"comment","description":"Texto do comentario","type":"string"}]}},"id":"t_cu1","name":"Tool CU Dealwise","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2440,260]},{"parameters":{"name":"clickup_workspace2","description":"Gerenciar tasks no ClickUp workspace Sales . Mesmos params: action (read/create/comment), title, description, priority, task_id, comment.","workflowId":"RJLSP2zYsNbulQZC","fields":{"values":[{"name":"action","description":"read, create ou comment","type":"string"},{"name":"title","description":"Titulo da task","type":"string"},{"name":"description","description":"Descricao","type":"string"},{"name":"priority","description":"high, normal ou low","type":"string"},{"name":"task_id","description":"ID da task (para comment)","type":"string"},{"name":"comment","description":"Texto do comentario","type":"string"}]}},"id":"t_cu2","name":"Tool CU WS2","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2600,260]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"id":"tg_send","name":"Telegram Send","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,0],"credentials":{"telegramApi":{"id":"vigW3TFKQu6KVFQs","name":"Telegram Routine Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Is Audio?","type":"main","index":0}]]},"Is Audio?":{"main":[[{"node":"Get File Path","type":"main","index":0}],[{"node":"Prepare Text","type":"main","index":0}]]},"Get File Path":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Prepare Audio Text","type":"main","index":0}]]},"Prepare Audio Text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Prepare Text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram Send","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Tool Calendar Read":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Calendar Write":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Docs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool CU Dealwise":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool CU WS2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"settings":{"executionOrder":"v1","callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","activeVersionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","versionCounter":10,"triggerCount":1,"shared":[{"updatedAt":"2026-03-09T23:21:01.949Z","createdAt":"2026-03-09T23:21:01.949Z","role":"workflow:owner","workflowId":"088KjQIltoG8pDvD","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-09T23:42:58.673Z","createdAt":"2026-03-09T23:42:58.673Z","versionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","workflowId":"088KjQIltoG8pDvD","nodes":[{"parameters":{"updates":["message"]},"id":"tg_trigger","name":"Telegram Trigger","type":"n8n-nodes-base.telegramTrigger","typeVersion":1.1,"position":[0,0],"webhookId":"tg-routine-v2","credentials":{"telegramApi":{"id":"vigW3TFKQu6KVFQs","name":"Telegram Routine Bot"}}},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict"},"combinator":"and","conditions":[{"id":"audio_check","leftValue":"={{ $json.message.voice }}","rightValue":"","operator":{"type":"object","operation":"exists","singleValue":true}}]}},"id":"if_audio","name":"Is Audio?","type":"n8n-nodes-base.if","typeVersion":2,"position":[220,0]},{"parameters":{"method":"GET","url":"=https://api.telegram.org/bot{{ $credentials.telegramApi.accessToken }}/getFile?file_id={{ $('Telegram Trigger').item.json.message.voice.file_id }}","options":{}},"id":"get_file","name":"Get File Path","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[440,-120]},{"parameters":{"method":"GET","url":"=https://api.telegram.org/file/bot{{ $credentials.telegramApi.accessToken }}/{{ $json.result.file_path }}","options":{"response":{"response":{"responseFormat":"file"}}}},"id":"dl_audio","name":"Download Audio","type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[660,-120]},{"parameters":{"resource":"audio","operation":"transcribe","options":{"language":"pt","responseFormat":"text"}},"id":"whisper","name":"Whisper Transcribe","type":"n8n-nodes-base.openAi","typeVersion":1,"position":[880,-120],"credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"jsCode":"const tg = $('Telegram Trigger').first().json;\nconst whisperOut = $input.first().json;\nconst text = whisperOut.text || whisperOut.data || JSON.stringify(whisperOut);\nreturn [{json: {message: {text: text, chat: tg.message.chat}}}];"},"id":"merge_audio","name":"Prepare Audio Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[1100,-120]},{"parameters":{"jsCode":"const tg = $('Telegram Trigger').first().json;\nreturn [{json: {message: tg.message}}];"},"id":"prep_text","name":"Prepare Text","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,120]},{"parameters":{"mode":"chooseBranch","output":"all"},"id":"merge","name":"Merge","type":"n8n-nodes-base.merge","typeVersion":3,"position":[1300,0]},{"parameters":{"agent":"conversationalAgent","promptType":"define","text":"={{ $json.message.text }}","options":{"systemMessage":"Voce e o Assistente de Rotina do Fabio Sales, consultor senior da Dealwise. Voce roda no Telegram e tem acesso completo as ferramentas abaixo.\n\nFERRAMENTAS DISPONIVEIS:\n1. calendar_read - Consultar agenda (proximos 3 dias)\n2. calendar_write - Criar/atualizar/deletar eventos. Params: action (create/update/delete), title, start_time (ISO), end_time (ISO), event_id (para update/delete), description\n3. google_docs - Criar documentos Google Docs. Params: title, content\n4. google_sheets - Criar planilhas Google Sheets. Params: title, sheet_name\n5. drive_search - Buscar arquivos no Google Drive (ultimos 14 dias)\n6. clickup_dealwise - Gerenciar tasks no workspace Dealwise (Operacoes). Params: action (read/create/comment), title, description, priority (high/normal/low), task_id, comment\n7. clickup_workspace2 - Gerenciar tasks no workspace Sales . Mesmos params do Dealwise.\n\nREGRAS:\n- Responda SEMPRE em portugues brasileiro\n- Seja conciso, e um chat Telegram\n- Use emojis com moderacao\n- Para criar tasks, confirme titulo antes\n- Formate listas com bullet points\n- Quando nao souber qual workspace ClickUp usar, pergunte\n- Para eventos, sempre peca data e horario se nao fornecidos\n- Voce pode receber audios transcritos - trate como texto normal"}},"id":"agent","name":"AI Agent","type":"@n8n/n8n-nodes-langchain.agent","typeVersion":1.7,"position":[1500,0]},{"parameters":{"model":"gpt-4o","options":{"temperature":0.3}},"id":"llm","name":"OpenAI Chat Model","type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1,"position":[1320,260],"credentials":{"openAiApi":{"id":"CQxHGcocdjZNbt7u","name":"OpenAi account"}}},{"parameters":{"sessionIdType":"customKey","sessionKey":"={{ $json.message.chat.id }}","tableName":"telegram_chat_memory","contextWindowLength":20},"id":"mem","name":"Postgres Chat Memory","type":"@n8n/n8n-nodes-langchain.memoryPostgresChat","typeVersion":1.3,"position":[1480,260],"credentials":{"postgres":{"id":"XQNf7Rt5GU1bSoqi","name":"Supabase Postgres (Telegram Memory)"}}},{"parameters":{"name":"calendar_read","description":"Consultar agenda Google Calendar proximos 3 dias. Use para perguntas sobre reunioes, compromissos, agenda.","workflowId":"wE2o7kRcTOt1kXHn"},"id":"t_cal_r","name":"Tool Calendar Read","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1640,260]},{"parameters":{"name":"calendar_write","description":"Criar, atualizar ou deletar eventos no Google Calendar. Params: action (create/update/delete), title, start_time (ISO 8601), end_time (ISO 8601), event_id (para update/delete), description.","workflowId":"WHlQMpmtrIxvMJpp","fields":{"values":[{"name":"action","description":"create, update ou delete","type":"string"},{"name":"title","description":"Titulo do evento","type":"string"},{"name":"start_time","description":"Data/hora inicio ISO 8601","type":"string"},{"name":"end_time","description":"Data/hora fim ISO 8601","type":"string"},{"name":"event_id","description":"ID do evento (para update/delete)","type":"string"},{"name":"description","description":"Descricao do evento","type":"string"}]}},"id":"t_cal_w","name":"Tool Calendar Write","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1800,260]},{"parameters":{"name":"google_docs","description":"Criar documentos Google Docs. Params: title, content.","workflowId":"ODjMHMDPzgS5gdVM","fields":{"values":[{"name":"title","description":"Titulo do documento","type":"string"},{"name":"content","description":"Conteudo do documento","type":"string"}]}},"id":"t_docs","name":"Tool Docs","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[1960,260]},{"parameters":{"name":"google_sheets","description":"Criar planilhas Google Sheets. Params: title, sheet_name.","workflowId":"5hmd23RMZTfjMhQD","fields":{"values":[{"name":"title","description":"Titulo da planilha","type":"string"},{"name":"sheet_name","description":"Nome da aba","type":"string"}]}},"id":"t_sheets","name":"Tool Sheets","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2120,260]},{"parameters":{"name":"drive_search","description":"Buscar arquivos no Google Drive modificados nos ultimos 14 dias. Retorna documentos, planilhas, PDFs e textos.","workflowId":"wkv3VGdlPst2KBlw"},"id":"t_drive","name":"Tool Drive","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2280,260]},{"parameters":{"name":"clickup_dealwise","description":"Gerenciar tasks no ClickUp workspace Dealwise (Operacoes). Params: action (read/create/comment), title, description, priority (high/normal/low), task_id (para comment), comment.","workflowId":"QnAuUsQxspjp3rbV","fields":{"values":[{"name":"action","description":"read, create ou comment","type":"string"},{"name":"title","description":"Titulo da task","type":"string"},{"name":"description","description":"Descricao","type":"string"},{"name":"priority","description":"high, normal ou low","type":"string"},{"name":"task_id","description":"ID da task (para comment)","type":"string"},{"name":"comment","description":"Texto do comentario","type":"string"}]}},"id":"t_cu1","name":"Tool CU Dealwise","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2440,260]},{"parameters":{"name":"clickup_workspace2","description":"Gerenciar tasks no ClickUp workspace Sales . Mesmos params: action (read/create/comment), title, description, priority, task_id, comment.","workflowId":"RJLSP2zYsNbulQZC","fields":{"values":[{"name":"action","description":"read, create ou comment","type":"string"},{"name":"title","description":"Titulo da task","type":"string"},{"name":"description","description":"Descricao","type":"string"},{"name":"priority","description":"high, normal ou low","type":"string"},{"name":"task_id","description":"ID da task (para comment)","type":"string"},{"name":"comment","description":"Texto do comentario","type":"string"}]}},"id":"t_cu2","name":"Tool CU WS2","type":"@n8n/n8n-nodes-langchain.toolWorkflow","typeVersion":1.2,"position":[2600,260]},{"parameters":{"chatId":"={{ $('Telegram Trigger').item.json.message.chat.id }}","text":"={{ $json.output }}","additionalFields":{"parse_mode":"Markdown"}},"id":"tg_send","name":"Telegram Send","type":"n8n-nodes-base.telegram","typeVersion":1.2,"position":[1760,0],"credentials":{"telegramApi":{"id":"vigW3TFKQu6KVFQs","name":"Telegram Routine Bot"}}}],"connections":{"Telegram Trigger":{"main":[[{"node":"Is Audio?","type":"main","index":0}]]},"Is Audio?":{"main":[[{"node":"Get File Path","type":"main","index":0}],[{"node":"Prepare Text","type":"main","index":0}]]},"Get File Path":{"main":[[{"node":"Download Audio","type":"main","index":0}]]},"Download Audio":{"main":[[{"node":"Whisper Transcribe","type":"main","index":0}]]},"Whisper Transcribe":{"main":[[{"node":"Prepare Audio Text","type":"main","index":0}]]},"Prepare Audio Text":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Prepare Text":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Merge":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Telegram Send","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"Postgres Chat Memory":{"ai_memory":[[{"node":"AI Agent","type":"ai_memory","index":0}]]},"Tool Calendar Read":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Calendar Write":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Docs":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Sheets":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool Drive":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool CU Dealwise":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]},"Tool CU WS2":{"ai_tool":[[{"node":"AI Agent","type":"ai_tool","index":0}]]}},"authors":"FABIO fabiohhsales@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-09T23:43:00.513Z","id":259,"workflowId":"088KjQIltoG8pDvD","versionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","event":"activated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"},{"createdAt":"2026-03-09T23:44:35.842Z","id":261,"workflowId":"088KjQIltoG8pDvD","versionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","event":"activated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"},{"createdAt":"2026-03-09T23:42:59.313Z","id":258,"workflowId":"088KjQIltoG8pDvD","versionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","event":"deactivated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"},{"createdAt":"2026-03-09T23:44:34.640Z","id":260,"workflowId":"088KjQIltoG8pDvD","versionId":"719a0b1b-83c2-4855-ab89-f8053415e27a","event":"deactivated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"}]}}
