n8n-backup-20260321/V2_Tool__Google_Sheets__5hmd23RMZTfjMhQD.json
{"updatedAt":"2026-03-10T00:06:37.554Z","createdAt":"2026-03-09T23:21:00.398Z","id":"5hmd23RMZTfjMhQD","name":"V2 Tool: Google Sheets","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"create","title":"={{ $json.title }}","sheetsUi":{"sheetValues":[{"sheet":"={{ $json.sheet_name || 'Sheet1' }}"}]}},"id":"sheet","name":"Create Sheet","type":"n8n-nodes-base.googleSheets","typeVersion":4.5,"position":[220,0],"credentials":{"googleSheetsOAuth2Api":{"id":"a81rh7lTJzyCGPRy","name":"Google Sheets account 3"}}},{"parameters":{"jsCode":"const s = $input.first().json;\nconst id = s.spreadsheetId || s.id || '';\nreturn [{json:{result: `Planilha criada!\\nLink: https://docs.google.com/spreadsheets/d/${id}/edit`}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Create Sheet","type":"main","index":0}]]},"Create Sheet":{"main":[[{"node":"Format","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"45908924-a41a-40a1-8e6f-97573f5716b4","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:21:00.401Z","createdAt":"2026-03-09T23:21:00.401Z","role":"workflow:owner","workflowId":"5hmd23RMZTfjMhQD","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
