n8n-backup-20260321/V2_Tool__Calendar_Write__WHlQMpmtrIxvMJpp.json
{"updatedAt":"2026-03-10T00:06:37.313Z","createdAt":"2026-03-09T23:20:59.805Z","id":"WHlQMpmtrIxvMJpp","name":"V2 Tool: Calendar Write","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst action = input.action || 'create';\nreturn [{json: {...input, _action: action}}];"},"id":"parse","name":"Parse Input","type":"n8n-nodes-base.code","typeVersion":2,"position":[220,0]},{"parameters":{"dataType":"string","value1":"={{ $json._action }}","rules":{"rules":[{"value2":"create","output":0},{"value2":"update","output":1},{"value2":"delete","output":2}]}},"id":"sw","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[440,0]},{"parameters":{"operation":"create","calendar":"primary","additionalFields":{"summary":"={{ $json.title }}","description":"={{ $json.description || '' }}","start":"={{ $json.start_time }}","end":"={{ $json.end_time }}"}},"id":"create","name":"Create Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[660,-100],"credentials":{"googleCalendarOAuth2Api":{"id":"1I6hcDEsbm3I2OuG","name":"Google Calendar account 2"}}},{"parameters":{"operation":"update","calendar":"primary","eventId":"={{ $json.event_id }}","updateFields":{"summary":"={{ $json.title }}","description":"={{ $json.description || '' }}"}},"id":"update","name":"Update Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[660,0],"credentials":{"googleCalendarOAuth2Api":{"id":"1I6hcDEsbm3I2OuG","name":"Google Calendar account 2"}}},{"parameters":{"operation":"delete","calendar":"primary","eventId":"={{ $json.event_id }}"},"id":"del","name":"Delete Event","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[660,100],"credentials":{"googleCalendarOAuth2Api":{"id":"1I6hcDEsbm3I2OuG","name":"Google Calendar account 2"}}},{"parameters":{"jsCode":"const e = $input.first().json;\nreturn [{json:{result: `Evento processado com sucesso: ${e.summary || e.id || 'OK'}`}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[880,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Parse Input","type":"main","index":0}]]},"Parse Input":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Create Event","type":"main","index":0}],[{"node":"Update Event","type":"main","index":0}],[{"node":"Delete Event","type":"main","index":0}]]},"Create Event":{"main":[[{"node":"Format","type":"main","index":0}]]},"Update Event":{"main":[[{"node":"Format","type":"main","index":0}]]},"Delete Event":{"main":[[{"node":"Format","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"17b07f61-c4bc-4b4c-9da4-164a6303584d","activeVersionId":null,"versionCounter":3,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:20:59.807Z","createdAt":"2026-03-09T23:20:59.807Z","role":"workflow:owner","workflowId":"WHlQMpmtrIxvMJpp","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
