n8n-backup-20260321/V2_Tool__Google_Docs__ODjMHMDPzgS5gdVM.json
{"updatedAt":"2026-03-10T00:06:36.394Z","createdAt":"2026-03-09T23:21:00.087Z","id":"ODjMHMDPzgS5gdVM","name":"V2 Tool: Google Docs","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"create","title":"={{ $json.title }}","body":"={{ $json.content || '' }}"},"id":"doc","name":"Create Doc","type":"n8n-nodes-base.googleDocs","typeVersion":1,"position":[220,0],"credentials":{"googleDocsOAuth2Api":{"id":"dUW3JfxjC6khDbD2","name":"Google Docs account"}}},{"parameters":{"jsCode":"const d = $input.first().json;\nreturn [{json:{result: `Documento criado: \"${d.title || ''}\"\\nLink: https://docs.google.com/document/d/${d.documentId}/edit`}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Create Doc","type":"main","index":0}]]},"Create Doc":{"main":[[{"node":"Format","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"33bcf7d9-b399-4393-bb38-6c853b200d44","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:21:00.088Z","createdAt":"2026-03-09T23:21:00.088Z","role":"workflow:owner","workflowId":"ODjMHMDPzgS5gdVM","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
