n8n-backup-20260321/V2_Tool__ClickUp_Dealwise__QnAuUsQxspjp3rbV.json
{"updatedAt":"2026-03-10T00:06:36.849Z","createdAt":"2026-03-09T23:21:01.117Z","id":"QnAuUsQxspjp3rbV","name":"V2 Tool: ClickUp Dealwise","description":null,"active":false,"isArchived":false,"nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"jsCode":"const input = $input.first().json;\nconst action = input.action || 'read';\nreturn [{json: {...input, _action: action, _team: '36993985', _list: '901302590254'}}];"},"id":"parse","name":"Parse","type":"n8n-nodes-base.code","typeVersion":2,"position":[200,0]},{"parameters":{"dataType":"string","value1":"={{ $json._action }}","rules":{"rules":[{"value2":"read","output":0},{"value2":"create","output":1},{"value2":"comment","output":2}]}},"id":"sw","name":"Switch","type":"n8n-nodes-base.switch","typeVersion":1,"position":[400,0]},{"parameters":{"operation":"getAll","team":"36993985","list":"901302590254","filters":{"includeSubtasks":true}},"id":"read","name":"Read Tasks","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[620,-100],"credentials":{"clickUpApi":{"id":"h8xGc5xA5U2udaei","name":"ClickUp Dealwise"}}},{"parameters":{"operation":"create","team":"36993985","list":"901302590254","name":"={{ $json.title }}","description":"={{ $json.description || '' }}","additionalFields":{"priority":"={{ $json.priority === 'high' ? 1 : ($json.priority === 'low' ? 4 : 3) }}"}},"id":"create","name":"Create Task","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[620,0],"credentials":{"clickUpApi":{"id":"h8xGc5xA5U2udaei","name":"ClickUp Dealwise"}}},{"parameters":{"resource":"comment","operation":"create","task":"={{ $json.task_id }}","commentText":"={{ $json.comment }}"},"id":"comment","name":"Add Comment","type":"n8n-nodes-base.clickUp","typeVersion":1,"position":[620,100],"credentials":{"clickUpApi":{"id":"h8xGc5xA5U2udaei","name":"ClickUp Dealwise"}}},{"parameters":{"jsCode":"const items = $input.all();\nif (items.length > 1) {\n  const tasks = items.map(i => {\n    const t = i.json;\n    const st = t.status?.status || '?';\n    const p = t.priority?.priority || '-';\n    const due = t.due_date ? new Date(parseInt(t.due_date)).toLocaleDateString('pt-BR') : '-';\n    return `- [${st}] ${t.name} | P: ${p} | Prazo: ${due} | ID: ${t.id}`;\n  });\n  return [{json:{result: tasks.join('\\n')}}];\n}\nconst t = items[0].json;\nreturn [{json:{result: `Task: ${t.name || t.id || 'OK'}\\nURL: ${t.url || ''}`}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[840,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Parse","type":"main","index":0}]]},"Parse":{"main":[[{"node":"Switch","type":"main","index":0}]]},"Switch":{"main":[[{"node":"Read Tasks","type":"main","index":0}],[{"node":"Create Task","type":"main","index":0}],[{"node":"Add Comment","type":"main","index":0}]]},"Read Tasks":{"main":[[{"node":"Format","type":"main","index":0}]]},"Create Task":{"main":[[{"node":"Format","type":"main","index":0}]]},"Add Comment":{"main":[[{"node":"Format","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"4e5063cb-c455-42b6-b3f7-4e8c42b691d9","activeVersionId":null,"versionCounter":2,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:21:01.119Z","createdAt":"2026-03-09T23:21:01.119Z","role":"workflow:owner","workflowId":"QnAuUsQxspjp3rbV","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":null}
