n8n-backup-20260321/V2_Tool__Calendar_Read__wE2o7kRcTOt1kXHn.json
{"updatedAt":"2026-03-09T23:33:47.354Z","createdAt":"2026-03-09T23:20:59.503Z","id":"wE2o7kRcTOt1kXHn","name":"V2 Tool: Calendar Read","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"getAll","calendar":"primary","returnAll":false,"limit":30,"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus(3, 'days').toISO() }}"},"id":"cal","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[220,0],"credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const events = $input.all().map(i => {\n  const e = i.json;\n  const s = e.start?.dateTime || e.start?.date || '?';\n  const end = e.end?.dateTime || e.end?.date || '';\n  return `- ${e.summary || 'Sem titulo'} | ${s} a ${end} | ID: ${e.id}`;\n});\nreturn [{json:{result: events.length ? events.join('\\n') : 'Nenhum evento nas proximas 72h.'}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Format","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"e9f97a4c-7ad6-4448-a438-43f0e7c5ef8a","activeVersionId":"e9f97a4c-7ad6-4448-a438-43f0e7c5ef8a","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:20:59.506Z","createdAt":"2026-03-09T23:20:59.506Z","role":"workflow:owner","workflowId":"wE2o7kRcTOt1kXHn","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-09T23:20:59.512Z","createdAt":"2026-03-09T23:20:59.512Z","versionId":"e9f97a4c-7ad6-4448-a438-43f0e7c5ef8a","workflowId":"wE2o7kRcTOt1kXHn","nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"getAll","calendar":"primary","returnAll":false,"limit":30,"timeMin":"={{ $now.toISO() }}","timeMax":"={{ $now.plus(3, 'days').toISO() }}"},"id":"cal","name":"Google Calendar","type":"n8n-nodes-base.googleCalendar","typeVersion":1,"position":[220,0],"credentials":{"googleCalendarOAuth2Api":{"id":"HE4F00ldoDcETyPG","name":"Google Calendar account"}}},{"parameters":{"jsCode":"const events = $input.all().map(i => {\n  const e = i.json;\n  const s = e.start?.dateTime || e.start?.date || '?';\n  const end = e.end?.dateTime || e.end?.date || '';\n  return `- ${e.summary || 'Sem titulo'} | ${s} a ${end} | ID: ${e.id}`;\n});\nreturn [{json:{result: events.length ? events.join('\\n') : 'Nenhum evento nas proximas 72h.'}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Google Calendar","type":"main","index":0}]]},"Google Calendar":{"main":[[{"node":"Format","type":"main","index":0}]]}},"authors":"FABIO fabiohhsales@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-10T00:05:15.736Z","id":262,"workflowId":"wE2o7kRcTOt1kXHn","versionId":"e9f97a4c-7ad6-4448-a438-43f0e7c5ef8a","event":"activated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"}]}}
