n8n-backup-20260321/V2_Tool__Drive_Full__wkv3VGdlPst2KBlw.json
{"updatedAt":"2026-03-10T00:06:36.607Z","createdAt":"2026-03-09T23:21:00.689Z","id":"wkv3VGdlPst2KBlw","name":"V2 Tool: Drive Full","description":null,"active":true,"isArchived":false,"nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"search","query":"=modifiedTime > '{{ $now.minus(14, 'days').toISO() }}'"},"id":"search","name":"Search Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"credentials":{"googleDriveOAuth2Api":{"id":"65mB7vzKG2IBBAzw","name":"Google Drive account"}}},{"parameters":{"jsCode":"const files = $input.all().map(i => {\n  const f = i.json;\n  const mod = f.modifiedTime ? new Date(f.modifiedTime).toLocaleDateString('pt-BR') : '?';\n  const mime = f.mimeType || '';\n  let tipo = 'arquivo';\n  if (mime.includes('document')) tipo = 'Doc';\n  else if (mime.includes('spreadsheet')) tipo = 'Planilha';\n  else if (mime.includes('presentation')) tipo = 'Slides';\n  else if (mime.includes('pdf')) tipo = 'PDF';\n  else if (mime.includes('text')) tipo = 'Texto';\n  return `- [${tipo}] ${f.name} | Modificado: ${mod} | ID: ${f.id}`;\n});\nreturn [{json:{result: files.length ? files.join('\\n') : 'Nenhum arquivo encontrado nos ultimos 14 dias.'}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Search Drive","type":"main","index":0}]]},"Search Drive":{"main":[[{"node":"Format","type":"main","index":0}]]}},"settings":{"callerPolicy":"workflowsFromSameOwner","availableInMCP":false},"staticData":null,"meta":null,"pinData":null,"versionId":"dc9dd3e9-d48e-46bb-a9f6-95e0bbbdedff","activeVersionId":"dc9dd3e9-d48e-46bb-a9f6-95e0bbbdedff","versionCounter":4,"triggerCount":0,"shared":[{"updatedAt":"2026-03-09T23:21:00.694Z","createdAt":"2026-03-09T23:21:00.694Z","role":"workflow:owner","workflowId":"wkv3VGdlPst2KBlw","projectId":"rSPIuew2fpWsa8U4","project":{"updatedAt":"2026-02-08T01:35:40.901Z","createdAt":"2026-01-31T20:51:27.685Z","id":"rSPIuew2fpWsa8U4","name":"FABIO fabiohhsales@gmail.com <fabiohhsales@gmail.com>","type":"personal","icon":null,"description":null,"creatorId":"03231c10-9460-4045-a781-f6ea17b6f53b"}}],"tags":[],"activeVersion":{"updatedAt":"2026-03-10T00:06:36.609Z","createdAt":"2026-03-10T00:06:36.609Z","versionId":"dc9dd3e9-d48e-46bb-a9f6-95e0bbbdedff","workflowId":"wkv3VGdlPst2KBlw","nodes":[{"parameters":{},"id":"t","name":"Execute Workflow Trigger","type":"n8n-nodes-base.executeWorkflowTrigger","typeVersion":1,"position":[0,0]},{"parameters":{"operation":"search","query":"=modifiedTime > '{{ $now.minus(14, 'days').toISO() }}'"},"id":"search","name":"Search Drive","type":"n8n-nodes-base.googleDrive","typeVersion":3,"position":[220,0],"credentials":{"googleDriveOAuth2Api":{"id":"65mB7vzKG2IBBAzw","name":"Google Drive account"}}},{"parameters":{"jsCode":"const files = $input.all().map(i => {\n  const f = i.json;\n  const mod = f.modifiedTime ? new Date(f.modifiedTime).toLocaleDateString('pt-BR') : '?';\n  const mime = f.mimeType || '';\n  let tipo = 'arquivo';\n  if (mime.includes('document')) tipo = 'Doc';\n  else if (mime.includes('spreadsheet')) tipo = 'Planilha';\n  else if (mime.includes('presentation')) tipo = 'Slides';\n  else if (mime.includes('pdf')) tipo = 'PDF';\n  else if (mime.includes('text')) tipo = 'Texto';\n  return `- [${tipo}] ${f.name} | Modificado: ${mod} | ID: ${f.id}`;\n});\nreturn [{json:{result: files.length ? files.join('\\n') : 'Nenhum arquivo encontrado nos ultimos 14 dias.'}}];"},"id":"fmt","name":"Format","type":"n8n-nodes-base.code","typeVersion":2,"position":[440,0]}],"connections":{"Execute Workflow Trigger":{"main":[[{"node":"Search Drive","type":"main","index":0}]]},"Search Drive":{"main":[[{"node":"Format","type":"main","index":0}]]}},"authors":"FABIO fabiohhsales@gmail.com","name":null,"description":null,"autosaved":false,"workflowPublishHistory":[{"createdAt":"2026-03-10T00:06:36.701Z","id":263,"workflowId":"wkv3VGdlPst2KBlw","versionId":"dc9dd3e9-d48e-46bb-a9f6-95e0bbbdedff","event":"activated","userId":"03231c10-9460-4045-a781-f6ea17b6f53b"}]}}
